[2013-11-15 01:27] gaul opened #49 "mvn install fails"
[code]

Inspection of generated value/target/it/functional/src/main/java/PackagelessValueType.java reveals reversed integer and string arguments.

[2013-11-15 22:43] eamonnmcmanus opened #50 "Eliminate the use of checkstyle"
It seems obvious to me that checkstyle is causing us a huge amount of work for very little benefit. It is also impossible to configure it to respect Google Style exactly. I suggest that we change the Auto project so that it does not invoke checkstyle as part of the standard Maven build.

[2013-11-16 00:23] #49 closed, assigned to eamonnmcmanus

[2013-11-22 21:22] #50 closed, assigned to gk5885

[2013-11-22 21:38] svas57 opened #54 "Support overriding factory methods that come from generic superclasses/interfaces."
When a factory method is inherited from a generic class/interface, generated auto factory will use type parameter name (e.g. T) rather than the substituted type. For example, given this code:

[code]

Generated factory will contain this method

[code]

[2013-11-25 22:04] talios opened #55 "Test failures under JDK8"
It looks like auto fails to pass tests when run under JDK8, with the release imminent it might be good to get this resolved before a 1.0 release:

[code]

[2013-11-27 13:34] Crydust opened #56 "checkout impossible on windows"
It isn't possible to checkout the git repository on windows due to a directory with a reserved name.

[code]

[2013-12-31 02:31] ludoch opened #57 "How do I find the Maven artifacts?"
I cannot find them on Maven Central. Where are they hosted?

[2013-12-31 02:43] #57 closed, assigned to nobody

[2014-01-17 22:00] #56 closed, assigned to gk5885

[2014-01-27 22:15] binkley opened #69 "Documentation not accessible behind firewalls"
Would you move your documentation from Google Docs to a more accessible location?  Corporate firewalls often block Google Docs.

[2014-01-27 23:18] #69 closed, assigned to nobody

[2014-02-10 15:53] pettermahlen opened #73 "Generated equals(Object) method parameter should be @Nullable"
In AutoValue,

[code]

should be

[code]

I think it's better form, and without it, AutoValue doesn't play nicely with Guava's AbstractPackageSanityTests.

[2014-02-11 05:15] #73 closed, assigned to nobody

[2014-02-19 00:10] gaul opened #74 "Add @AutoForward for forwarding classes"
This would remove the boilerplate from writing forwarding classes.  @AutoForwarding classes would require a `delegate()` method and call `delegate().method(...)` for all methods, except for overridden methods which implementors could provide.

[2014-02-20 21:14] ghost opened #75 "AutoValue breaks on recursive generic bounds"
[code]

...results in a stack overflow in TypeSimplifier.

[2014-02-20 22:32] Zubnix opened #76 "Factory ProcessorModule not picked up with dagger 1.2.1"
I'm still quite new to dagger and the auto tools (great libs btw!) and I'm trying out auto factory. However I get an error that I don't know how to fix? I use dagger 1.2.1. and afaik I'm doing nothing fancy. (just annotating a class with autofactory). All these types seem to be defined by the ProcessorModule, so I'm a bit puzzled as to why they're not picked up.

java: java.lang.IllegalStateExcept

[2014-02-22 18:45] Zubnix opened #77 "AutoFactory integration test wrong name"
bad c/p. auto factory integration test is called auto-value integration test.

[2014-02-22 19:38] Zubnix opened #78 "Factory source generation fails when a type of <Foo>Factory is already present."
Code generation should not blindly take the name of the type that needs to be generated and add 'Factory' to it. A check should be made if a type of the same name already exist and take appropriate action (eg inform user or change it's own name).

[2014-02-22 20:08] Zubnix opened #79 "Document AutoFactory#className and eagerly enforce the contract"
className property of the AutoFactory should either accept the fully qualified name (preferably, as it name implies) or the javadoc should clearly mention that it is actually the simple classname (current situation which actually limits functionality so not really desired(?)).

[2014-02-23 14:15] Zubnix opened #80 "Factory source generation fails when a method of create(Foo foo) is already present in implemented interface"
Creating a factory with an interface that already contains the would be generated method fails. The code generation should only create the implementation of said method.

[2014-02-23 17:05] rherrmann opened #81 "Provide OSGi meta data"
To ease using e.g. AutoValue in an OSGi environment it would help if the released jar had a MANIFEST.MF containing OSGi meta data. The library/bundle could then be provisioned in a p2 repository.

The [Bundle Plugin for Maven](http://felix.apache.org/site/apache-felix-maven-bundle-plugin-bnd.html) is one option to generate the meta data. Given that the number and names of public packages of the au

[2014-02-24 12:29] Zubnix opened #82 "Factory generation mixups when more than 1 factory in same package with implementing interface"
When 2 or more types with each their own autofactory and each autofactory with their own interface is declared, then each generated autofactory class contains the implementation of _all_ autofactory interfaces.

[2014-03-01 00:31] bwb opened #83 "Consider using Guava helpers in an AutoValue's equals, hashCode, and toString methods."
I think Guava's Objects.equal, Objects.hashCode, and Objects.toStringHelper would simplify both code generation and the generated code.

If you intentionally avoid the Guava helpers, can you explain why? Maybe the current implementation runs faster, or you don't want to introduce an AutoValue -> Guava dependency.

[2014-03-01 07:31] #83 closed, assigned to nobody

[2014-03-12 19:08] #75 closed, assigned to eamonnmcmanus

[2014-03-14 16:11] leventov opened #84 "AutoValue field names (occur in toString implementation also) should omit "get" prefix in getter names"
[code]

I expect `foo.toString` be `"Foo{bar=0}"`, not `"Foo{getBar=0}"`

[2014-03-24 06:18] JakeWharton opened #86 "AutoValue for Java 8 Interfaces"
[code]

[2014-03-29 15:13] leventov opened #89 "Document the order of AutoValue fields, taken from superclasses and interfaces"
[code]

Please, document the order of `AutoValue_AutoValueTest_Sub` constructor arguments.

[2014-04-03 21:53] dbaum opened #90 "AutoFactory does not support constructors that throw checked exceptions."
Checked exceptions declared by the constructor should be added to the throw list for the generated create() method.

[2014-04-15 22:00] leventov opened #93 "Xor as AutoValue.hashCode for Entry-like classes"
It is `Map.Entry` interface explicit requirement, also should be faster.

[2014-04-16 06:50] eric6iese opened #94 "Document Eclipse Integration"
Using AutoValue in Eclipse results in Errors in the Workspace as eclipsec does not generate the Auto-Classes when running the incremental build. Perhaps you can provide some best-practices how to circumvent this problem.

There are some Tips out in the wild, like http://www.codeaffine.com/2014/03/04/using-the-autovalue-code-generator-in-eclipse/, but I think for most users the error will be enough

[2014-05-06 23:13] yogurtearl opened #97 "AutoFactory has wrong maven info in README"
Looks like it should be

[code]

[2014-05-14 20:29] cgrushko opened #99 "AutoFactory: factories are final, prevent use of Mockito"
Generated factories are final, which means they cannot be mocked using Mockito.
Even though they're designed for injection, passing a mock of such factory is so much easier than providing a test module and messing around with the DI's graph.

[2014-05-14 20:33] cgrushko opened #100 "AutoFactory: generate inner class, not standalone"
Not sure if it's possible, but it would be great if generated factories would be called

Bar.Factory instead of BarFactory.

If we're lucky, this'll allow the ctor that the factory calls to be private, as well as potentially making factory usage less verbose:

import com.bla.bla.Bar;
Bar b = new Bar.Factory().create();

instead of

import com.bla.bla.Bar;
import com.bla.bla.BarFactory;
Bar b = new

[2014-05-14 20:35] cgrushko opened #101 "AutoFactory: allow annotating factories"
My manually-written factories sometimes have annotations to allow some compile-time validating.
Would be awesome if I could write

@AutoFactory(annotate = BlaBlaAnnotation)
public Foo();

to have this generated:

@BlaBlaAnnotation
class FooFactory {}

[2014-05-14 20:50] cgrushko opened #102 "AutoFactory: optional parameters"
Factories are often used because there are too many parameters and/or options to specify them:
new Factory().setBla(2).setFoo("yes").create();

instead of new Bar(2, "yes");

Can we specify some parameters as "optional", which will cause setter methods to be generated instead of a create() method which accepts all parameters?

Suggestion:

[code]

will generate

[code]

Usage:

[code]

or

[code]

[2014-05-15 03:45] #100 closed, assigned to nobody

[2014-05-21 21:27] cgruber opened #105 ""Shade" the processors to internalize their dependencies to avoid interactions with other processors that use related libraries."
This involves moving all the dependency version information into the processors proper, plus hooking up either a maven-shade-plugin or maven-jarjar-plugin.

[2014-05-24 17:57] cobbce opened #106 "ide instructions in readme"
The readme instructions don't mention enabling annotation processing in your ide, and even after doing so my code compiles but intellij 13 CE (OSX) cannot find the generated classes, making the editor show compiler errors.

These instructions for eclipse look promising, but also a pain to have to set up manually.
http://www.codeaffine.com/2014/03/04/using-the-autovalue-code-generator-in-eclipse/

[2014-06-18 22:05] cgruber opened #109 "Auto-value test failure on Apple JVM 1.6 on a mac."
The CompilationTest fails on mac's 1.6 java virtual machine.  It's unclear why, but it seems like it's building an invalid AutoValue_Baz lacking a return type, though I suspect that is a masking error.

Commit (though I had to bump pom version numbers too, so this failure is only seen when ref 85939616c50f3eed8f347b7ec743497b03c7ae3a is applied and the build proceeds to run this test:

[code]

Her

[2014-06-20 08:30] ooxi opened #111 "AutoBuilder?"
Hi,

is there something like an `AutoBuilder` planned? Looking at the following class

[code]

it would be great if I could do the following

[code]

Or are there compelling reasons against? I know of auto factories but they serve another purpose.

-- ooxi

[2014-06-21 08:23] #111 closed, assigned to nobody

[2014-07-07 20:07] cgrushko opened #115 "Hamcrest's hasPropertyWithValue doesn't work with AutoValue"
`AutoValue` generates package-private classes, which
`org.hamcrest.beans.HasPropertyWithValue` can't (won't?) access.

Hamcrest throws this error:

[code]

I understand that's by design, but decided to file a bug in case someone searches for it.

[2014-07-07 20:11] #115 closed, assigned to nobody

[2014-07-08 14:57] desseim opened #116 "Annotate constructor parameters with `@Nullable` where relevant"
This was already raised in the discussion of #73 , but what is the state of making the constructor arguments nullable for properties which getters are annotated with `@Nullable` ?
This makes total sense from a user standpoint IMO (e.g. for static analysis), and wouldn't present as many tricky decisions as `equals()` would: simply annotate the parameter with the annotation the getter was annotated

[2014-07-08 19:38] Gregly opened #117 "Fix url in the last page of presentation slide."
At the bottom of the document (README.md), there is a link to a wonderful slide presentation:

"This slide presentation walks through several competing solutions to this problem and shows why we considered them insufficient."

(Slide: urtl https://docs.google.com/presentation/d/14u_h-lMn7f1rXE1nDiLX0azS3IkgjGl5uxp5jGJ75RE/edit#slide=id.g2a5e9c4a8_0243)

The last slide of the presentation shows "Au

[2014-07-14 03:03] laec opened #118 "AutoValue: generate Comparable.compareTo()"
It will be good for AutoValue to generate the `compareTo` method if the class implements `Comparable`. Because using sorted collections with improperly implemented `Comparable` objects will result in unexpected behavior and hard to track bugs.

From `Comparable`'s Javadoc:

[2014-08-01 00:46] #86 closed, assigned to nobody

[2014-08-01 00:48] JakeWharton opened #120 "Common v0.2 in Maven central depends on SNAPSHOT"
http://repo1.maven.org/maven2/com/google/auto/auto-common/0.2/auto-common-0.2.pom

[code]

[2014-08-05 09:32] talpr opened #122 "AutoValue: (Optionally) Add private no-arg constructor to generated classes"
Some libraries require classes to have a private no-arg constructor, but there is currently no way of providing one for AutoValue's generated classes.

In my case, I am using Kryo (https://github.com/EsotericSoftware/kryo) to serialize/deserialize objects, and it requires that they have a no-arg constructor for deserialization. This means that currently I can't use AutoValue for classes that I int

[2014-08-08 23:45] amchang opened #123 "AutoFactory: Ignore non annotated constructors"
I think AutoFactory should ignore constructors where @Provided annotations don't exist or at least provide an option to tell auto factory not to turn a constructor method into a factory.

The biggest use case is that sometimes you may have a private constructor for specific use cases. Right now AutoFactory aggressively attempts to turn the private constructor into a create method for no real reaso

[2014-08-09 03:52] amchang opened #124 "AutoFactory / Dagger integration requires fully qualified types"
I found another strange issue but it seems there is a problem with dagger / autofactory integration.

I always always have to end up tying out the fully qualified so that dagger can find the factory at annotation / compile time.

@Inject
com.company.FooFactory

instead of being able to do

@Inject
FooFactory

I'm not sure if it's the way I'm compiling my projects also but wanted to track it here a

[2014-08-15 10:51] jmcampanini opened #125 "autovalue fails when runnning `mvn verify`"
when running `mvn verify` from the `auto/value` project gives this:

[code]

this is building on commit hash: `23a8e52`

this also fails if you run from the root project: `mvn -f build-pom.xml verify`

[2014-08-24 08:55] binkley opened #128 "How does this differ from Kohsuke's annotation processor?"
Documentation contrasting with http://search.maven.org/#artifactdetails%7Corg.kohsuke.metainf-services%7Cmetainf-services%7C1.5%7Cjar would be helpful.

[2014-08-28 02:47] amchang opened #129 "AutoFactory: Lazy Fields in Parents"
http://stackoverflow.com/questions/25539899/dagger-google-auto-factory-deal-with-mix-of-lazy-and-provided-fields

Hey there I posted this question in StackOverflow but it seems like a big oversight or an explanation is needed, here's the example again.

[code]

How exactly would you deal with the problem of mLazyFoo being null? Adding a another provided to add Foo will not work at all as it will t

[2014-09-01 08:51] tomkoptel opened #130 "AutoValue and OrmLite union"
First of all, thanks for great idea. I love your approach :)

My question is follow...Is there any way to combine AutoValue together with [OrmLite](https://github.com/j256/ormlite-android/issues/new)?

Best regards.

[2014-09-04 06:00] AlexKorovyansky opened #131 "Annotation for methods(fields) to be excluded from equals/hashcode"
In many cases there is necessary to exclude some fields of class from comparing in equals and from generation of hashCode.

So it would be good to have annotation to mark methods to be excluded from AutoValue generated equals/hashCode.

For example:
[code]

[2014-09-04 13:43] jbgi opened #132 "AutoValue: annotations to ignore / mask a field in generated toString"
Some field value may be confidential or not wanted at all in toString result.
Maintaining a custom toString() is cumbersome, so I would like two new method annotations :

[code]

[2014-09-08 06:57] #132 closed, assigned to nobody

[2014-09-17 04:01] cgruber opened #137 "Incorporate comments from pull #136 into the codebase."
Some additional review comments were put into #136 which was purely a sync commit pulling change from internal google source.
- integrate the review comments into a commit/CL.

[2014-09-25 09:15] haocheng opened #138 "AutoValue with Jackson deserialization"
Hi,

I was using AutoValue with Jackson. It works for serialization if I add @JsonProperty on all abstract methods. However, for deserialization, it will throw error like:

[code]

I can write custom Jackson deserializer to fix it, but it's a lot of work if I need to write custom deserializer for each value object that I need. Is there a better way to handle this issue?

Thank you!

[2014-09-25 10:09] #138 closed, assigned to nobody

[2014-10-12 12:22] jiqimaogou opened #140 "could you update your lastest library in maven?"
the file seperator bug is on the fly in maven repo.

[2014-10-13 02:21] cgruber opened #141 "Figure out a better solution to SuperficialValidator's handling of <error> nodes."
The problem is that types which have not yet been generated, yet used as class literals in annotation values may return <error> nodes.  Detecting this as distinct from a case where Foo.class simply isn't on the classpath is not trivial, and a different solution may be necessary.

For now, this is simply commented out (in pull request #142) until we can figure out something more robust.

One option

[2014-10-13 02:33] #128 closed, assigned to nobody

[2014-10-14 12:55] dmlloyd opened #143 "@AutoService should have a retention of SOURCE"
...else things that look for it reflectively will fail.

[2014-10-16 00:41] codefromthecrypt opened #144 "Nullable in other package doesn't seem to work"
At least using 1.0-rc-1, the below guidance that the Nullable annotation can be in any package doesn't seem to operate. javax.annotation.Nullable works, though.

The @Nullable annotation can be javax.annotation.Nullable or a Nullable annotation defined in any other package.

[2014-10-16 18:16] adriancole opened #146 "bump snapshot version of compile-testing?"
various poms tag compile-testing 0.6-SNAPSHOT. Can we bump to a release or at least point to the current snapshot version?

[2014-10-17 09:28] leventov opened #147 "@AutoValue documented?"
Currently in Javadocs people see `@AutoValue`-annotated classes as `abstract` without public or protected constructors, that could confuse a bit. Seing `@AutoValue` tell to people (at least who knows about `AutoValue`) that
1. Class is immutable
2. Class is not extensible and instantiable
3. "I should search for static factory methods"

Thus I think `@AutoValue` deserves to be exposed.

[2014-10-17 15:00] #147 closed, assigned to nobody

[2014-10-18 14:39] #140 closed, assigned to nobody

[2014-10-18 17:21] #144 closed, assigned to nobody

[2014-10-27 16:07] zack-shoylev opened #150 "Builder support"
This is to track possible builder support in AutoValue.

[2014-10-27 19:53] diwakergupta opened #151 "RC2 generates unexpected velocity.log"
Since upgrading to 1.0rc2, whenever I run `mvn compile`, I end up with an unexpected `velocity.log` file in the directory. This will surprise users, breaks `.gitignore` in projects and unnecessarily pollutes the workspace. Here are the contents of my log file::

[code]

[2014-11-05 11:11] jbgi opened #154 "RC2 Regression: compilation fails when referencing classes generated by another annotation processors"
This is related to #141 but is also a rc2 regression. I heavily use auto-value in conjunction with https://github.com/sviperll/adt4j to generate my algebraic datatypes. A lot of my code does not compile anymore with auto-value rc2.
Here is the test case:
add maven dependency:

[code]

create classes (in non default package):

[code]

[code]

[2014-11-06 09:40] jiqimaogou opened #155 "How about add AutoBuilder."
for builder design pattern

[2014-11-08 03:13] #151 closed, assigned to eamonnmcmanus

[2014-11-10 14:18] jbgi opened #156 "AutoValue: asm dependency should be shadowed"
version conflict can occur (and do on one of my projects). It would be good if auto-value could shade all of it dependencies, eg. with maven-shade-plugin, like in https://github.com/immutables/immutables/blob/master/value-standalone/pom.xml
I could run auto-value annotation processing separately from compile, but I'd rather avoid the hassle.

[2014-11-14 19:00] cgruber opened #158 "Add automatic CLA resolution"
Integrate the auto project with google's CLA system.

[2014-11-14 19:00] #158 closed, assigned to cgruber

[2014-11-17 17:15] stephenh opened #159 "Eventually remove Eclipse order hack"
This is not really an issue, per se, but if you haven't seen it,supposedly the "source order not respected" bug in Eclipse has been fixed:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=300408

It might be interesting to see if auto would work, sans the current Eclipse hack, in this fixed version of Eclipse; and if not, perhaps you could report back any issues on that bug so that it could be fixed

[2014-11-18 19:01] codefromthecrypt opened #161 "Bump auto-factory?"
Would be super-handy to have a consistent version across the autos. Any chance you can cut auto-factory 1.0-rc2?

[2014-11-18 19:31] #161 closed, assigned to nobody

[2014-11-25 23:55] #156 closed, assigned to nobody

[2014-12-02 11:28] jnorthrup opened #163 "maven module with libs that use AutoValue cannot themselves generate Autovalue?"
Hello.

I have discovered a bug i didnt see in the issues list.  it seems the generation pass must exist in one and only one maven module in my project.  having modules depend on autovalues and declare autovalues appears mutually exlusive.

specific example:

module xacml-constants must declare
https://github.com/jnorthrup/xcaml/blob/master/xacml-constants/src/main/java/xcaml/XacmlAttributeTriple.

[2014-12-02 18:44] #163 closed, assigned to nobody

[2014-12-06 11:05] theangrydev opened #164 "@Provided primitives are not supported"
For example, attempting to use
[code]
leads to a compilation failure because the generated factory includes
[code]

[2014-12-16 18:14] kenzierocks opened #166 "AutoValue: Generics error"
If I make an `@AutoValue` class that extends something like `Iterable`, the generated class will use `<T>` rather than the generic used in the annotated class.

[2014-12-22 08:33] #154 closed, assigned to eamonnmcmanus

[2014-12-22 14:50] jbgi opened #167 "Publish annotation APIs in separate artefacts"
I would really like having a jar containing only the annotations and not the processors implementations: this would prevent accidental use of the processors implementation classes/dependencies in production code.
In particular, now that that guava dep is shadowed in autovalue, I can easily use autovalue.shaded.com.google.common.common.* classes by mistake, which will fail at runtime.

Note that it

[2014-12-30 21:15] elucash opened #168 "AutoValue Annotation printing has problems (shortcomings of ECJ)"
Reproducible with 1.0-rc4
Unable to compile generated class for

[code]
Generated code looks like this
[code]
`Compilation error: _id cannot be resolved to a variable`

Kinds of literal values are not taken into account in [Property.buildAnnotations](https://github.com/google/auto/blob/master/value/src/main/java/com/google/auto/value/processor/AutoValueProcessor.java#L202)

It should properly prin

[2015-01-01 15:26] Zubnix opened #169 "autofactory: don't make generated factories final"
Currently generated factories are final. This makes them very hard (almost impossible) to mock (eg using mockito). A solution is to use a 'spy', however this requires to also provide all dependencies of the spied factory, making the test very messy.

solution: don't make generated factories final.

[2015-01-08 19:53] kenzierocks opened #171 "AutoValue: Use qualified access everywhere"
I'm wondering if it would be possible to use qualified access (`this.property`) everywhere in generated `@AutoValue` classes. I am trying to enforce this on my projects, but generated classes will not compile with that option on. If it is not something to be added here, I am okay with making my own fork for it.

[2015-01-08 21:06] rodolfodpk opened #172 "AutoValue_ prefix on class names"
I think the AutoValue_ prefix is a bit invasive / annoying. Is there any way to customize the generation of classes names ? For example, instead of class Animal and AutoValue_Animal, I would prefer AbstractAnimal and Animal.

[2015-01-08 21:20] eamonnmcmanus commented on #172
We deliberately made it so that the AutoValue_ prefix has to be referenced in exactly one place, which is not visible to clients of the `@AutoValue` class. So its annoyance should be quite limited. If you had AbstractAnimal and Animal then clients would still have to reference AbstractAnimal, which I think would be strange.

Having said that, we are planning to allow some form of pluggability whic

[2015-01-08 21:20] #172 closed

[2015-01-08 21:27] kevinb9n commented on #172
"I think the AutoValue_ prefix is a bit invasive / annoying."

FWIW, that is intentional. It clearly distinguishes it as a code-generated
class, outside the realm of human naming, and it will never conflict with
anything, and it discourages users from referencing the class directly any
more than the one time you have to.

But really: why be bothered by an implementation detail you should so
rarely

[2015-01-08 21:32] kevinb9n commented on #171
Does it make sense to try to enforce your own local style rules on
third-party *generated* code? Is that really worth forking a project over?
It's your call, but I certainly don't see any valid reason to do this in
AutoValue.

On Thu, Jan 8, 2015 at 11:53 AM, Kenzie Togami <notifications@github.com>
wrote:

--
Kevin Bourrillion | Java Librarian | Google, Inc. | kevinb@google.com

[2015-01-08 23:22] kenzierocks commented on #171
It is worth forking the project over, because otherwise I can't enforce that rule unless I abandon AutoValue. Small eclipse thing that I don't think is fixable, but I might bring up with the Eclipse team as well. It already partially happens anyways (in the constructor and `equals()`), I just need it to be everywhere. I would fork the project over this.

[2015-01-08 23:28] JakeWharton commented on #171
It seems like a forever losing strategy. You artificially inhibit the usage of third party tools because they have to comply to your arbitrary internal style guides. What happens when you want to enforce hungarian notation or tabs? Does every tool need to comply? What if I'm enforcing that using redundant `this.` qualifiers is not present.

Your auditing strategy should be augmented to ignore gene

[2015-01-08 23:29] kenzierocks commented on #171
Eclipse has no option to exclude generated code from the compile rule set, at least none that I can see. I suppose this is something for the Eclipse team then.

[2015-01-08 23:29] #171 closed

[2015-01-08 23:30] eamonnmcmanus commented on #171
I believe it is possible to turn off warnings for generated code using
Project Properties > Java Build Path > Source > [project name]/.src_generated > Ignore Optional Compile Problems
Thanks to @cjp39 for this tip.

[2015-01-08 23:31] kenzierocks commented on #171
Oh, I wonder why that didn't show up in my search for this. Thanks!

[2015-01-09 02:13] rodolfodpk commented on #172
Guys, I realized you are right: it makes sense.
In order to avoid coupling my code with AutoValue_Animal, I just need to use static factories like:
    static Animal create(String name, int numberOfLegs) {
         return new AutoValue_Animal(name, numberOfLegs);
    }
thanks

[2015-01-09 02:29] rodolfodpk commented on #172
and since I need to configure / customize my Gson instance, I also need to put my Gson factory class within the same package of AutoValue_Animal class

[2015-01-09 02:40] JakeWharton commented on #172
You can register an instance creator that delegates to the static factory. Or, if you don't mind the occasional `Class.forName` and blindly (de)serializing the AutoValue implementation details, use this: https://gist.github.com/JakeWharton/0d67d01badcee0ae7bc9

[2015-01-09 16:07] jbgi commented on #167
in the wait for a better solution, could we, at least, use a package prefix that would be further down the alphabetical order? 'autovalue.shaded' classes appear at the top of auto-completion lists...

[2015-01-12 17:39] cgruber commented on #169
Duplicate of #99. The issue is under API review inside google at this point, so we'll have some resolution soon.

[2015-01-12 17:39] #169 closed

[2015-01-14 15:38] cypressious opened #173 "AutoFactory depends on Dagger 1, compilation fails with Dagger 2"
When building with AutoFactory and Dagger 2, the build fails with the message ```java.lang.NoClassDefFoundError: dagger/ObjectGraph```. In my build I specifically excluded the Dagger 1 dependency from AutoFactory. Here's an extract from my build configuration:

[code]

I don't mind AutoFactory depending on Dagger 1 as long as it doesn't interfer with my build. Maybe the Dagger 1 dependency could b

[2015-01-19 12:13] svenjacobs commented on #76
Any news on this? Compatibility with Dagger 1.2.2 (or 2.0 for that matter) would be really nice.

[2015-01-19 17:24] novemberox opened #174 "AutoFactory doesn't support Named dependecies"
For example test class:

			@AutoFactory
			final class SomeClass {
			    private final String providedDepA;
			    private final String depB;

			    SomeClass(@Provided @Named("test") String providedDepA, String depB) {
				this.providedDepA = providedDepA;
				this.depB = depB;
			    }

			    // …
			}

I'm getting:

			@Generated("com.google.auto.factory.processor.AutoFactoryProcessor")

[2015-01-21 22:55] #168 closed

[2015-01-27 12:21] stevecstian opened #179 "auto-value snapshot versioning"
Should we have snapshot version like `1.1-SNAPSHOT` instead of `1.0-SNAPSHOT` as we have released [auto-value-1.0](https://github.com/google/auto/releases/tag/auto-value-1.0)?

[2015-01-27 13:39] sherter commented on #90
I stumbled across this as well. It might be not a good idea to simply add it to the existing _create()_ method, because then you would need add a try/catch block or rethrow the exception everywhere you want to construct a new object, even if nothing bad can happen . What about a additional _tryCreate() throws Exception_ method?

[2015-01-30 06:04] felipecsl commented on #111
Looks like this has been just added a few days ago https://github.com/google/auto/pull/175

[2015-01-30 11:38] ooxi commented on #111
@felipecsl Looks great, is there any documentation on how to use this?

[2015-01-30 11:54] tbroyer commented on #111
@ooxi Have a look at the javadoc, there's a new `@AutoValue.Builder` annotation.

[2015-01-30 20:15] eamonnmcmanus commented on #111
Yes, there are a few final improvements and a documentation change in the pipeline and they should show up at the next sync from Google's internal branch. Feel free to experiment; the javadoc should be enough to get the gist.

[2015-02-01 14:28] swankjesse opened #181 "@Named loses its name with AutoFactory"
I've added `@Named("foo")` to a constructor dependency:

[code]

The generated code loses `"foo"` but keeps the `@Named` annotation:

[code]

I'm happy to submit a pull request that fixes this by migrating AutoFactory from JavaWriter to JavaPoet. I'm going to add a feature to JavaPoet so that building an `AnnotationSpec` from an `AnnotationMirror` is easy. That should make copying annotations from

[2015-02-01 18:59] eamonnmcmanus commented on #181
Java 7 was released in 2011, not 2007. So this is a much bigger deal than it would be if it was a difference of one year.

[2015-02-01 19:00] eamonnmcmanus commented on #181
Incidentally this is a dup of #174.

[2015-02-01 19:09] swankjesse commented on #181
Yeah, that was a weird bad typo!

[2015-02-01 19:10] swankjesse commented on #181
Interested in a pull request?

[2015-02-01 19:15] eamonnmcmanus commented on #181
Other project members will have to decide if this code can be switched to JavaPoet. A PR that fixed the bug without switching would be fine.

[2015-02-02 07:05] ooxi commented on #111
:+1: great improvement :)

[2015-02-02 21:33] cgruber commented on #181
We're re-examining a bunch of things about autofactory. Let's hold off on
fully re-writing generation just yet. But not for too long, I expect.

On Sun Feb 01 2015 at 11:15:55 AM Éamonn McManus <notifications@github.com>
wrote:

[2015-02-03 00:48] cgruber commented on #155
As noted above, this is a dupe of #111.

[2015-02-03 00:48] #155 closed

[2015-02-03 00:49] cgruber commented on #150
This is a duplicate of #111.

[2015-02-03 00:49] #150 closed

[2015-02-03 09:24] stevecstian commented on #179
@eamonnmcmanus Any thoughts?

[2015-02-03 15:06] eamonnmcmanus commented on #179
Yes, thanks for pointing this out! @cgruber or I will fix this shortly.

[2015-02-03 15:58] stevecstian commented on #179
@eamonnmcmanus :metal:

[2015-02-04 11:17] sherter opened #185 "Building AutoFactory results in empty jar / fails on jdk8"
How can I build AutoFactory from HEAD?
When I run mvn package with jdk7 I get a (nearly) empty .jar and when I try to build with jdk8 the build fails:

Content of jdk7 build;
[code]

Error jdk8 build:
[code]

[2015-02-06 21:22] jnorthrup opened #186 "generated-sources omission -- weirdness in a project containing groovy compiler"
screenshot of intellij seeing red; the source files are in target/classes/generated, for whatever reason, but no target/generated-sources exists.

![image](https://cloud.githubusercontent.com/assets/73514/6087588/3b43113e-ae02-11e4-803a-234b69aa81f3.png)

pom is at https://github.com/jnorthrup/xcaml/blob/master/pdp-core/pom.xml  suspecting

[code]

[2015-02-06 21:37] jnorthrup commented on #186
confirming the wierdness abates if the plugins are removed from the pom

[2015-02-06 22:17] cpovirk opened #187 "Propagate @GwtIncompatible to @AutoValue types, as is done for @GwtCompatible"
Motivation: [Truth defines an `AutoValue` type that doesn't work under GWT.](https://github.com/google/truth/blob/3f974942eecfb0318740c0bce8bd50395a9db001/core/src/main/java/com/google/common/truth/Expect.java#L52) But the AutoValue processor still runs, and it still generates the implementation. The implementation refers to the `@GwtIncompatible` superclass, and we get compile errors:

    [ERROR

[2015-02-06 22:21] eamonnmcmanus commented on #187
We copy annotations from abstract property methods to their generated implementations. Perhaps we should also copy them from the `@AutoValue` class to its implementation. I'm skeptical about the need to copy them from enclosing classes. If users have to add an otherwise-redundant `@GwtIncompatible` to their nested `@AutoValue` class I don't think that's the end of the world, and the alternative st

[2015-02-09 14:36] cpovirk commented on #187
This is an interesting one.

Other annotations appearing on `@AutoValue` classes:

- `@Immutable`, `@ThreadSafe`
- `@VisibleForTesting`
- `@GwtCompatible` (of course)
- [`@AutoGson`](https://gist.github.com/JakeWharton/0d67d01badcee0ae7bc9)
- [`@JsExport`, `@JsType`](http://www.gwtproject.org/javadoc/latest/com/google/gwt/core/client/js/package-summary.html)
- some Google-internal stuff: [Full res

[2015-02-09 14:54] adriancole commented on #187
AutoGson, huh? That sounds handy!

[2015-02-09 20:03] jdaggett commented on #179
@eamonnmcmanus @cgruber Would it be possible to address this issue sometime this week?  As of last Friday, I have preliminary `Builder` support in [jclouds-labs-openstack](https://github.com/jclouds/jclouds-labs-openstack/pull/178). :+1: Unfortunately, the build failed because the `1.0-SNAPSHOT` could not be resolved. Bummer. Is there a way we can get `1.1-SNAPSHOT` builds pushed to the [Sonatype]

[2015-02-09 20:34] cgruber commented on #179
I'm happy to fix this pronto - I'm just weirdly confuse as to why
1.0-SNAPSHOT couldn't be resolved.  I thought sonatype kept the last N
snapshots.  :/

On Mon Feb 09 2015 at 12:03:34 PM Jeremy Daggett <notifications@github.com>
wrote:

[2015-02-09 20:34] #179 closed

[2015-02-09 20:37] cgruber commented on #146
I believe this is all done - everythign snapshotty should be pointing at 1.0-SNAPSHOT

[2015-02-09 20:37] #146 closed

[2015-02-10 00:05] jdaggett commented on #179
@cgruber Thank you! Do you have a timeframe for releasing the builder support? Is there any chance of it happening in the next couple of weeks? :smiley:

[2015-02-10 00:12] cpovirk commented on #187
I'm running into a similar problem with Dagger: https://github.com/google/dagger/issues/121

This may be a common challenge for code generators.

[2015-02-10 02:53] rodolfodpk commented on #172
Thanks for sharing. I'm using RuntimeTypeAdapterFactory since I have to handle polymorphism but for the other simpler classes now I'm using that AutoGson annotation.

[2015-02-14 05:45] johngmyers opened #189 "AutoValue README.md references old 1.0-rc1 in pom excerpt"
The AutoValue README.md file "how to use AutoValue" section "in pom.xml" references the old 1.0-rc1 release. This should be updated to reference the 1.0 release.

I filed pull #177 on this, but going through the corporate CLA process is too much effort for a one-line doc fix.

[2015-02-15 14:11] apolatynski opened #190 "README.md describes Builder feature which is not included in 1.0 release"
Maybe it would be good to mention in README.md that the Builder feature is not yet released (needs compilation from master)

[2015-02-20 19:06] shevek-nebula commented on #186
Same weirdness in a project built by gradle. The compiler can no longer detect our source files.

[2015-02-20 19:08] shevek-nebula commented on #186
Weirdness apparently introduced around here:
[code]

Revisions before that can't compile our code (some ordering bug, presumably in Dagger 1?). Revisions after that cause the Java compiler not to see our source files at all.

[2015-02-20 19:22] cholcombe973 commented on #186
I ran into this issue as well.  Gradle builds successfully but skips all the tests.
I saw this in the output:
10:18:56.689 [INFO] [org.gradle.api.internal.tasks.execution.SkipTaskWithNoActionsExecuter] Skipping task ':testClasses' as it has no actions.
I also saw this:
Skipping task ':test' as it has no source files

I tried using the current master branch of auto factory but that didn't help.  I

[2015-02-20 19:29] shevek-nebula commented on #186
I note that the "new" autofactory JAR has everything shaded. Was that intentional? Did that break anything?

[2015-02-24 15:12] zack-shoylev commented on #179
I just wanted to ask about
https://oss.sonatype.org/content/repositories/snapshots/com/google/auto/value/

Is it supposed to be empty?

[2015-02-24 16:35] eamonnmcmanus commented on #179
@zack-shoylev we are investigating.

[2015-02-24 18:13] #189 closed

[2015-02-24 18:14] #120 closed

[2015-02-24 18:15] cgruber commented on #190
I have published a snapshot which has these features, and we're putting in place an auto-snapshot travis trigger.

[2015-02-25 18:26] zack-shoylev commented on #179
It seems to be fixed now
https://oss.sonatype.org/content/repositories/snapshots/com/google/auto/value/auto-value/

Thanks!

[2015-03-04 00:59] kenzierocks opened #200 "AutoValue: Crash with seemingly normal code"
I made a small change in some code recently and it caused the crash below. The subset of the project that caused the crash is available on https://github.com/TechShroom/Slithering-Latte/tree/showbug/av-crash. The specific change is https://github.com/TechShroom/Slithering-Latte/commit/c3dbdc1b13956314860b22e272067378efb67feb

[code]

[2015-03-04 17:53] kenzierocks commented on #200
Must have been an Eclipse thing, it seems to have disappeared after a few restarts.

[2015-03-04 22:08] eamonnmcmanus commented on #200
Thanks for the report, anyway! The code in question is trying to work around a bug in Eclipse. That bug has been fixed, and as soon as the fix is present in mainstream Eclipse we will try to find a way to detect that the fix is present, and not invoke the workaround in that case. The fact that you encountered another bug in Eclipse motivates us to do this because it means that the workaround is no

[2015-03-04 22:26] kenzierocks commented on #200
Ah, I happen to be running Mars right now. That makes sense. At least running clean seems to fix it.

[2015-03-08 05:39] akanter opened #201 "Add optional BeanInfo generation to support introspection"
It would be wonderful if AutoValue classes supported Java Bean introspection (http://www-inf.int-evry.fr/cours/java/javatutorial/javabeans/introspection/index.html).

My particular use case is to be able to use JDBI's @BindBean annotation on DTOs created with AutoValue instead of having to write my own @Binder annotation.

The trouble is that @BindBean uses reflection unless there is a valid BeanI

[2015-03-08 16:42] eamonnmcmanus commented on #84
I missed updating this issue at the time, but we eventually made it so that if every abstract method in an `@AutoValue` class looks like `getFoo()` or `boolean isFoo()` then the properties that appear in `toString()` and constructor names will be just plain `foo`. This is exactly what was requested.

[2015-03-08 16:42] #84 closed

[2015-03-08 16:46] eamonnmcmanus commented on #201
I'm not familiar with JDBI, so it's not clear to me exactly what would be needed here. In this example from the documentation...

[code]

...would it not just work if Something were a public `@AutoValue` class with public getters? The fact that the object you are passing will actually be an `AutoValue_Something` shouldn't matter, should it?

Otherwise, this seems like it would be a good candidate

[2015-03-09 19:27] akanter commented on #201
It would work fine if it were _public_ `@AutoValue` class, yes. The issue is that `@AutoValue` classes are always package private (unless I am mistaken).

I think the extensibility API sounds like a fabulous idea. Is such an API on the roadmap yet? From those links you provided it looks like it has been proposed but not yet undertaken. Should someone create a separate Extensibility API issue to tr

[2015-03-09 23:35] eamonnmcmanus opened #202 "Extensibility API for AutoValue"
Issues #87, #162, and #201 are examples of use cases that are a bit too specialized to put into the core of AutoValue, but which are still important when they apply. We should define an extensibility API so that users can build extensions that run at the same time as AutoValue. The general idea would be that there would be an interface, say AutoValueExtension, and that the AutoValue processor woul

[2015-03-09 23:39] eamonnmcmanus commented on #201
`@AutoValue` classes can be public. It is only the generated `AutoValue_Foo` subclass that is always package-private. In the case at hand, it sounds as if the `@AutoValue` class should in fact be public.

The extensibility API is now tracked with #202. Thanks for making me get around to logging that. :-)

[2015-03-10 00:40] akanter commented on #201
Er yeah. When I was saying the classes are always package private, I meant the generated classes.

The Introspection API uses calls `.getClass()` which returns `AutoValue_Foo.class` instead of `Foo.class`. Then the fallback mode uses reflection to inspect the class (`AutoValue_Foo.class`) to determine what fields are available. Since `AutoValue_Foo` is not `public`, this inspection fails.

If ther

[2015-03-10 00:41] #201 closed

[2015-03-10 17:02] zack-shoylev opened #203 "Immutable collections with Builders"
Let's use a specific example:
I want my value object to use List<>, and I want the Builder for it to also use List (so as not to force users to depend on ImmutableList directly, say).
But, of course, I want internally my value object to use ImmutableList and any mutable components to be copied to immutable ones when build().
Is this reasonable, or should I just use ImmutableList throughout?

Extra

[2015-03-10 19:45] PhilippWendler commented on #202
As far as I understand, this would allow me to customize the object creation, too, because I can insert code into the constructor of the class that my extension generates, correct? This would be good.

The use case I have is that I want to automatically create an `@AutoValue` instance from something that wraps a `Map<String, String>`. We use something like this for configuration options (currently

[2015-03-10 23:04] eamonnmcmanus commented on #203
At present, I think the best way to achieve this with builders is something like this:

[code]

The abstract build method of a builder class does not have to be called `build()`, so we can have a public concrete `build()` that calls the generated `realBuild()`. It's kind of clumsy that you have to build one instance just so you can make another that has an ImmutableList, though.

An alternative ap

[2015-03-10 23:13] kevinb9n commented on #203
And were we also considering Guava-specific features?  i.e., if they choose
to use ImmutableList as their property type, but List/Collection/Iterable
as the builder method type, then we generate an "ImmutableList.copyOf" for
them?

On Tue, Mar 10, 2015 at 4:04 PM, Éamonn McManus <notifications@github.com>
wrote:

--
Kevin Bourrillion | Java Librarian | Google, Inc. | kevinb@google.com

[2015-03-10 23:15] eamonnmcmanus commented on #203
Yes, that also seems like a fine idea.

[2015-03-10 23:17] zack-shoylev commented on #203
How about something like:
[code]
You already have validate() for the regular value object, so something like a preprocess (or whatever a good name for that is) for the builder makes sense, I think.

[2015-03-10 23:25] eamonnmcmanus commented on #203
The method would have to be at least package-private so it could be called from the generated builder implementation. Other than that, the idea seems potentially useful. Would it be too much of a stretch to reuse the `@AutoValue.Validate` annotation here?

[code]

[2015-03-10 23:32] zack-shoylev commented on #203
Personally I would prefer the Builder getters be provided by default, but that might be out of scope. Otherwise, I like it.

[2015-03-13 15:10] PhilippWendler commented on #74
If my forwarding class inherits from the same interface(s) as the delegate, it would be nice to not have to repeat all the methods (I guess this is the most common use case).

Another way of looking at this would be the following:
How about attaching `@AutoForward` to the interface and having it generate the same kind of forwarding class you would write manually?
The down side would be that you ca

[2015-03-13 19:07] cgruber commented on #74
We annotate static methods with @AutoAnnotation so that we can get
annotation implementations for annotations we don't control.  That approach
would be fine for forwarding implementations, if we decide this is a
subproject worth pursuing.

On Fri, Mar 13, 2015, 08:10 Philipp Wendler <notifications@github.com>
wrote:

[2015-03-19 19:38] rschnitz commented on #190
It seems like the inner Builder interface would be boilerplate - is there a way to simply make it a @Buildable annotation on the basic abstract class?

[2015-03-19 19:40] JakeWharton commented on #190
Not without leaking the use of auto value as an implementation detail to all consumers (and thus requiring the general class be public).

[2015-03-19 19:44] eamonnmcmanus commented on #190
We should probably have some sort of FAQ for the project. It's a deliberate design decision that the user must write the builder interface. This means that clients can immediately see what the API is without having to know anything about what AutoValue generates. It also means that, as we add features to builders, we will only need to generate exactly what is called for in the user-written interfa

[2015-03-21 11:28] confile commented on #185
I have to same problem ``mvn clean install``in the auto factory dir results in an empty jar.

[2015-03-21 11:29] confile commented on #185
@eamonnmcmanus Could you please describe how to build the jars and source jars from source. Thank you.

[2015-03-21 18:10] eamonnmcmanus commented on #185
I'm not the expert here, @cgruber is, but by comparing with the other pom.xml files I was able to determine that you can get it to compile by changing the auto-common dependency to version 1.0-SNAPSHOT. I'm puzzled as to why this didn't show up in Travis and why the failure is so obscure.

[2015-03-21 18:24] confile commented on #185
I tried this but there are a lot of errors:

[code]

[2015-03-21 18:35] eamonnmcmanus commented on #185
Yes, I'm seeing that too now. As far as I can tell auto-factory is fundamentally broken at HEAD. This test appears to be using Dagger 1 APIs when the expressed dependency is on Dagger 2. I'm not sure how we got into this state so it's over to @cgruber. Meanwhile the best I can suggest is to rewind to an earlier version and build there.

[2015-03-21 18:36] confile commented on #185
Well I need atuoFactory with Dagger2 so should I use auto-factory-0.1-beta1?

[2015-03-21 18:58] eamonnmcmanus commented on #185
Sorry, this isn't my code and I don't think I can help further. Hopefully someone more familiar will be able to comment soon.

[2015-03-22 00:04] sedubois opened #210 "Cannot get @AutoValue working with AspectJ"
Hi, I have a Maven project which depends on aspectj-maven-plugin 1.7, aspectjrt + aspectjtools 1.8.5, and spring-aspects 4.1.5 (thus using AspectJ with compile-time weaving). I then added a dependency on auto-value 1.1-SNAPSHOT and annotated one value object with @AutoValue, but then `mvn clean install -U` yields this error:

    [INFO] --- aspectj-maven-plugin:1.7:compile (default) @ dreamapp-com

[2015-03-22 00:38] tbroyer commented on #210
[code]

Seeing this in the stack trace, I'd say it's a bug in AspectJ.

As a workaround you could possibly run a first pass of maven-compiler-plugin with `<proc>only</proc>`, or processor-maven-plugin; then the aspectj-maven-plugin with `<proc>none</proc>`

[2015-03-22 12:17] sedubois commented on #210
Thanks for the idea, but then I think I prefer the workaround I mentioned, at least I would need to change my POM only every time I write @AutoValue in a new place.

As you suggested, I opened an AspectJ bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=462782

[2015-03-22 15:31] eamonnmcmanus commented on #210
I think it's suspicious that the exception is in org.aspectj.org.eclipse.jdt.internal.compiler.lookup.SourceTypeBinding. Does the initial org.aspectj mean that AspectJ has run on the internal Eclipse classes? You probably don't want that.

[2015-03-22 16:36] eamonnmcmanus commented on #210
Hmm, I think the org.aspectj prefix is probably just shading, since it's there all the way through. But on searching for "AspectJ annotation processing" I find that support for annotation processors is [quite recent](https://eclipse.org/aspectj/doc/released/README-182.html) and they say (as of last August) "There is still work to be done to get annotation processors behaving under AJDT." So it mig

[2015-03-22 19:48] sedubois commented on #210
OK so looks like this is unrelated to auto-value. Let's hope the bug I raised in Eclipse helps to get this fixed. Thanks for the feedback and keep up the good work, I'm impatient to see a stable 1.1 release to get @AutoValue.Builder :)

[2015-03-25 17:26] rodolfodpk opened #211 "Instantiating classes with null parameter throws IllegalStateException"
I have some code using Preconditions.checkNotNull and after migrating it to AutoValue, now I get IllegalStateException instead of NullPointerException. I'm changing my tests but just in case, I believe the correct behavior should be throwing NullPointerException.

[2015-03-25 17:37] rodolfodpk commented on #211
Oh, it was my mistake. Actually it's working well.

[2015-03-25 17:41] rodolfodpk commented on #211
Inspecting the generated code, I found this line on buid() method:
 if (!missing.isEmpty()) {
        throw new IllegalStateException("Missing required properties:" + missing);
 }
 So this occurs only when using a Builder.

[2015-03-31 20:59] eamonnmcmanus commented on #125
Assuming this is no longer relevant. Please reopen if I am wrong.

[2015-03-31 20:59] #125 closed

[2015-03-31 22:54] lukesandberg opened #213 "Support injecting Provider into the class"
[code]

generates a factory:

[code]

it should generate

[code]

[2015-03-31 22:58] lukesandberg opened #214 "Support guices @BindingAnnotation? or flag as an error?"
Part of using @AutoFactory in a guice project is migrating all the binding annotations use the @Qualifer @Qualifier annotation  instead of (or in addition to) @BindingAnnotation.  It would be nice if @AutoFactory flagged this as an error (or if it just worked).

The current state is that it ignores @BindingAnnotation meaning that it may generate a factory that uses different bindings than the user

[2015-03-31 23:11] lukesandberg opened #215 "Why @Provided instead of @Assisted?"
This isn't really a bug as much as a design question.  as far as i am aware @AutoFactory was designed as a more performant alternative to guices assisted-inject extension, so i am curious why in @AutoFactory you annotate all the parameters that you want to be injected whereas in guice you annotate all the parameters that should be explicitly passed (with @Assisted).

I have a (mild) preference for

[2015-04-01 00:28] lukesandberg commented on #214
Oh also if/when https://github.com/google/auto/issues/213 is fixed it would be nice to get similar support or errors for com.google.inject.Provider

[2015-04-01 16:27] gjoseph commented on #82
Hey, I don't know if this is strictly related, but I'm noticing that if I have 2 classes, in different packages, both using the same `@AutoFactory(implementing = Foo.class)`, the second factory to be generated contains the interface's method twice. (and one of those has the signature of the _other_ type)

[2015-04-01 16:33] gjoseph commented on #82
Eh, in fact, both generated factories have the problem. So it goes like this: in my sources:
[code]

Both resulting factories like this, both have these 2 methods, which makes the compiler rather unhappy obviously.
[code]

[2015-04-03 20:44] sarod commented on #116
+1 here.

[2015-04-03 21:20] laec opened #219 "@AutoValue generated source failed to compile with custom annotation with string value in Eclipse"
Environment: Eclipse + m2e-apt

The follow class (simplified):
[code]

Will generate (simplified):
[code]

[2015-04-03 21:44] eamonnmcmanus commented on #219
Looks like a dup of #168. That has been fixed in 1.1-SNAPSHOT but the bug is still present in 1.0.

[2015-04-03 21:44] #219 closed

[2015-04-04 22:11] puntogil opened #221 "any plan for port to javapoet?"
any plan for port com.google.auto.factory:auto-factory module to com.squareup:javapoet:1.0.0?
thanks in advance

[2015-04-07 10:03] Zubnix opened #222 "Autofactory compilation fails on Java 8"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:testCompile (default-testCompile) on project auto-factory: Compilation failure: Compilation failure:
[ERROR] /home/zubzub/git/auto/factory/src/test/java/com/google/auto/factory/processor/AutoFactoryDeclarationTest.java:[18,71] package com.google.auto.factory.processor.AutoFactoryDeclaration does not exist
[ERROR] /ho

[2015-04-07 11:10] Zubnix commented on #222
Possibly releted?
http://bugs.java.com/bugdatabase/view_bug.do?bug_id=7159016

[2015-04-07 11:22] Zubnix commented on #222
On Java 7, an empty jar is build. Symptoms related to: #185

[2015-04-07 11:31] Zubnix commented on #222
Not using static imports seems to fix the issue. However when trying to build from intellij causes a 'permission denied' error (works if build from terminal)

[2015-04-07 11:34] Zubnix opened #223 "Autofactory fails to build from IntelliJ"
When fixing issue #222 , autofactory fails to build in IntelliJ.

[INFO] --- maven-invoker-plugin:1.8:run (integration-test) @ auto-factory ---
[INFO] Building: functional/pom.xml
[INFO] /bin/sh: /home/zubzub/idea-IU-141.177.4/plugins/maven/lib/maven3/bin/mvn: Permission denied
[INFO] ..FAILED (0.0 s)
[INFO]   The build exited with code 126. See /home/zubzub/git/auto/factory/target/it/functional/b

[2015-04-09 22:20] pgr0ss opened #224 "Release AutoValue 1.1"
Can you please release version 1.1 (with the builder stuff)?

[2015-04-10 03:40] kenzierocks opened #225 "[AutoFactory] Dependencies cannot resolve"
Dagger `2.0-SNAPSHOT` no longer exists, so the dependency can't resolve. Switch to `2.0` maybe?

[2015-04-11 20:09] Zubnix commented on #225
autofactory is completely broken on current HEAD. It doesn't compile on latest maven, it uses removed api from dagger 2 dev, integration tests completely fail to even start, it still has some pretty severe bugs reported over a year ago. So yeah... still some work to do :)

[2015-04-12 01:44] tbroyer opened #226 "AutoCommon: check visibility of one method (or type or field) from another."
A useful addition to `MoreElements` or `Visibility` could be a way to check whether a given `Element` can _see_ another one; the expected most-common use-case being to check whether some method can be called from another class (particularly when enumerating methods of a class including inherited methods from class hierarchy). The method would return `false` if the _target_ element is `private`, `t

[2015-04-12 02:52] leourbina commented on #224
+1

[2015-04-12 07:42] cgruber commented on #224
We have a few changes we are making that are about to work its way in, and
we need to stabilize those - notably how validation is done in builders.
It's a breaking change, so we need to get it done/in/right before
releasing, so the newer behavior is what we release.

Once that's all done, I expect we can release.  This is not a commitment to
release, but I think we could probably release within th

[2015-04-12 09:01] gk5885 commented on #226
Absolutely.  The only problem is that that is a large and somewhat complicated part of the JLS to implement.  :\  It's certainly on the TODO list, but like GWT, we've just been limping along until a sufficiently tricky issue forces us into solving this problem.

[2015-04-12 10:48] tbroyer commented on #226
Actually, I believe use-cases in auto-common would always have a _source_ of type `PackageElement`, which makes things much easier: https://docs.oracle.com/javase/specs/jls/se8/html/jls-6.html#jls-6.6.1
Something like:

[code]

Then the special cases for `protected` qualified access would be left to the caller of these APIs (to choose the appropriate one): https://docs.oracle.com/javase/specs/jls/

[2015-04-12 13:30] leourbina commented on #224
sweet! :100:

[2015-04-15 15:26] sarod commented on #81
It would be nice t have this fixed for the release of auto-value 1.1 (#224)

[2015-04-16 05:07] cgruber commented on #225
Heh.  We know.  Autofactory will get some love soon.

On Sat, 11 Apr 2015 at 13:09 Zubnix <notifications@github.com> wrote:

[2015-04-20 21:48] zack-shoylev commented on #224
+1!

[2015-04-20 23:53] cgruber commented on #225
Dagger dependency is removed in #230.

[2015-04-20 23:55] cgruber commented on #221
Yes. :)

[2015-04-20 23:55] #221 closed

[2015-04-20 23:56] cgruber commented on #203
Builder getters available in #230.

[2015-04-20 23:57] #225 closed

[2015-04-21 00:00] cgruber commented on #173
#230 removes use of dagger in any capacity within the processor itself, leaving only support for JSR-330 usage in client code.

[2015-04-21 00:00] #173 closed

[2015-04-21 00:01] cgruber commented on #214
Yeah - this is a good idea.

[2015-04-21 00:02] #130 closed

[2015-04-21 00:03] eamonnmcmanus commented on #203
I think it's a little premature to close this. We don't have support for `@AutoValue.Validate` in builders yet. (I am looking into it.)

[2015-04-21 00:07] cgruber commented on #203
I thought we just removed support for @AutoValue.validate entirely.

[2015-04-21 00:08] cgruber commented on #203
(in favor of coding in validations in the `.build()` method.

[2015-04-21 00:08] eamonnmcmanus commented on #203
Wow, I'm confused. We did indeed.

[2015-04-21 00:08] #203 closed

[2015-04-21 01:18] zack-shoylev commented on #203
I am not sure builder getters are sufficient. What would be the current example code to convert to immutable collections internally?

[2015-04-21 01:42] eamonnmcmanus commented on #203
The code I gave above would work, except that it can't use `@AutoValue.Validate` since that no longer exists:

[code]

[2015-04-21 01:51] zack-shoylev commented on #203
Thanks @eamonnmcmanus and @cgruber : this looks great!

[2015-04-21 18:09] agarwalnitish18 commented on #81
Gitcolony notification failed - java.lang.IllegalArgumentException: Invalid url:

how to fix this error??

[2015-04-21 18:58] cgruber commented on #81
@sarod  - Can you test this in the snapshot? It's using auto service 1.0-rc2, and similar windows issues in dagger were resolved by this.

@agarwalnitish18 - what on earth are you talking about?

[2015-04-22 12:54] sedubois commented on #210
There has been progress on the AspectJ side, cfr. https://bugs.eclipse.org/bugs/show_bug.cgi?id=462782#c4. Is the reported error an AutoValue issue?

[2015-04-22 13:20] eamonnmcmanus commented on #210
I replied in https://bugs.eclipse.org/bugs/show_bug.cgi?id=462782#c6. Basically the issue now is a conflict between versions of Apache Velocity.

[2015-04-23 07:08] sedubois commented on #210
Should the AspectJ bug be closed and the velocity shading issue be further tracked here?

[2015-04-25 20:23] sarod commented on #81
@cgruber I think there was some confusion here. I was referring to the initial problem for which this issue was created (the lack of OSGI metadata) in both my comment and my pull request. I was NOT referring to the bug related to path on windows. Sorry if this wasn't clear, it may be better to split this github issue because it covers 2 unrelated things.

Anyway, unfortunately I will not be able t

[2015-04-27 10:29] sherter commented on #185
Build is working fine again at current head, thanks!

[2015-04-27 10:29] #185 closed

[2015-04-27 19:09] confile opened #234 "AutoFactory ignores @Named Annotation"
I tried to use AutoFactory and create a factory for the following class:

[code]
The factory which is created does not include the value of the ``@Named`` annotation. Here is the result:
[code]

As you can see ``@Named("namedValue")`` is not represented correctly by AutoFactory.

[2015-04-27 19:17] confile commented on #174
+1 I have the same problem. @novemberox  Did you find any solution?

[2015-04-27 19:20] confile commented on #181
@cgruber This discussion is still very old. Is there any news about the ``@Named``annotation?

[2015-04-27 19:22] confile commented on #129
@amchang See this answer here: http://stackoverflow.com/a/29186106/1055664

[2015-04-27 19:24] novemberox commented on #174
Nope

[2015-04-29 20:21] arcecio commented on #224
yay! +1

[2015-04-30 21:37] adriancole commented on #224
+1

[2015-05-01 00:39] mightyguava commented on #224
+1

[2015-05-01 01:48] JakeWharton commented on #224
-1

On Thu, Apr 30, 2015 at 8:39 PM Yunchi Luo <notifications@github.com> wrote:

[2015-05-04 14:17] rharter commented on #202
I've started playing around with implementing this feature, and one thing that I've come across is this error:

[code]

In my implementation, I'm creating an auto-extension that implements Android Parcelable, but the fact that my class implements an interface means there are extra abstract methods (from the interface).

It seems reasonable to me that other extensions might also want to add abstrac

[2015-05-04 14:56] eamonnmcmanus commented on #202
Good point. It would make sense for the extension API to include a way for extensions to see and claim abstract methods. Then the error above would be produced only after extensions have run if there are still methods that were not claimed by any of them.

[2015-05-04 15:02] kevinb9n commented on #202
(Does it keep things simpler to just not care, and let the generated
concrete class just fail to compile if something is missing?)

On Mon, May 4, 2015 at 7:56 AM, Éamonn McManus <notifications@github.com>
wrote:

--
Kevin Bourrillion | Java Librarian | Google, Inc. | kevinb@google.com

[2015-05-04 15:13] rharter commented on #202
That's also a fair point. Since the unclaimed methods are abstract, there
would still be a compile time error, so is this error message much more
helpful than that, or are we just duplicating compiler functionality there?

On Mon, May 4, 2015, 10:02 AM kevinb9n <notifications@github.com> wrote:

[2015-05-04 15:14] eamonnmcmanus commented on #202
I should note that the message in question is actually a warning rather than an error, and does not in itself cause compilation to fail. The reason for that is that the unhelpful Eclipse compiler sometimes fails to realize that a concrete method overrides an abstract one.

The philosophy has been for AutoValue never to generate code that doesn't compile, unless it is accompanied by at least one er

[2015-05-04 15:17] kevinb9n commented on #202
Ah, got it.

On Mon, May 4, 2015 at 8:14 AM, Éamonn McManus <notifications@github.com>
wrote:

--
Kevin Bourrillion | Java Librarian | Google, Inc. | kevinb@google.com

[2015-05-06 03:34] rharter commented on #202
Those are some really good points, @eamonnmcmanus.

I've got a start on the extensibility support.  Would you mind taking a look at [my branch](https://github.com/rharter/auto/tree/extensibility) and tell me if you think I'm on the right track.  This is sort of in the POC stage right now and could use a little bit of cleanup (and still has problems with builders), but I just wanted to make sure I'

[2015-05-07 20:11] arend-von-reinersdorff commented on #101
I would like to add another use case for annotating factories:

Since CDI 1.1 a CDI bean must have a scope annotation like @Dependent to be discovered. If a generated factory has no such annotation, it is not discovered as a CDI bean.

This is the new default behavior (bean-discovery-mode="annotated") since CDI 1.1. See also the specification:
http://docs.jboss.org/cdi/spec/1.1/cdi-spec.html#bean_

[2015-05-08 00:22] cgruber commented on #181
Sorry - I've been on personal leave for a bit, and greg has as well, for different reasons.  We're each just getting back into it.  I think we'll have some motion on AutoFactory in the next few weeks.  How much I can't promise, but we should at least be ironing out some of these bugs.

[2015-05-08 00:23] cgruber commented on #181
Closing as a dup of #174

[2015-05-08 00:23] #181 closed

[2015-05-08 00:23] cgruber commented on #174
As mentioned in the other thread, the developers associated with AutoFactory are just coming off different leaves, and we should have some love for AutoFactory over the next month.

[2015-05-08 00:24] cgruber commented on #234
Duplicate of #174

[2015-05-08 00:24] #234 closed

[2015-05-08 01:46] eamonnmcmanus commented on #202
@rharter, I had a quick look through your branch and it does look pretty much like what I had in mind. I don't have time right now to do a more thorough review but I hope to be able to get to it within the next week. Please nag me if you don't hear from me soon.

[2015-05-08 11:07] arend-von-reinersdorff commented on #143
@AutoValue already has retention policy SOURCE
https://github.com/google/auto/blob/master/value/src/main/java/com/google/auto/value/AutoValue.java

@AutoFactory has no retention policy
Similar to @eamonnmcmanus last comment, I think it should also be SUORCE.
https://github.com/google/auto/blob/master/factory/src/main/java/com/google/auto/factory/AutoFactory.java

[2015-05-08 20:50] charlesmunger opened #236 "AutoFactory constructors are public if the class is public"
It rarely makes sense to make the @Inject constructor of an AutoFactory public, but it's the default.

[2015-05-10 16:20] yterradas commented on #224
+1

[2015-05-11 00:04] cgruber commented on #224
Apologies for the delay.  I'll be releasing later this week.

On Sun, 10 May 2015 at 09:20 yoandy <notifications@github.com> wrote:

[2015-05-16 21:10] leourbina commented on #224
Any updates on this? Would be nice to have the builder code in maven central. Thanks!

[2015-05-19 10:29] svenjacobs commented on #124
I have a similar problem when trying to create a factory that contains another generated factory as a provided dependency.

[code]

Given that `AnotherClass` is placed in a different package, the generated `SomeClassFactory` does not import `com.example.another.AnotherClassFactory` and compilation fails. If I use the fully qualified type of `AnotherClassFactory` in the constructor of `SomeClass` c

[2015-05-19 17:44] cjp39 commented on #219
Any idea when 1.1 will be cut? This bug is causing us a lot of pain :(

[2015-05-20 00:11] cgruber commented on #224
Done. AutoValue 1.1 is released to maven (should show up in search in an hour or two, but be usable directly in a maven pom immediately)

[2015-05-20 00:11] #224 closed

[2015-05-20 03:22] leourbina commented on #224
:beers:

[2015-05-20 22:02] ArturGajowy commented on #86
Actually, this would be more terse and readable than the abstract class with all abstract methods. WDYT?

[2015-05-20 22:13] kevinb9n commented on #86
I see that it spares you from typing "abstract" on each accessor. And in the event that you *want* them to be public it spares you from typing that too. Is there any other terseness/readability gain I'm missing?

The choice to use an interface will restrict your freedom in a few ways:

- your accessors will have to be public
- you won't be able to have any other fields (like caching a derived valu

[2015-05-20 22:32] ArturGajowy commented on #86
Still, I'd like to have this choice :) In reference to the restrictions you mention:
 - public accessors are quite common. In case they're not acceptable I can always switch to an abstract class
 - in most cases the value objects don't need to cache/carry additional data. In case it's needed, I can always switch to an abstract class :)
 - in most cases instead of having the empty package-private c

[2015-05-20 22:59] kevinb9n commented on #86
It's already quite understood that these three restrictions are not massive
and that one can always switch back.

But I claim the benefit of skipping "public abstract" is also not massive.

If we did add this support, we would add a "best practice" to the user
guide suggesting not to even use the feature we're adding. Which should
always give us pause about adding it.

On Wed, May 20, 2015 at 3:32

[2015-05-21 09:34] arend-von-reinersdorff commented on #236
I disagree. I think for public classes there should be a public way to create instances programmatically. This is mostly about creating instances for testing. But also about principle. Having a public AutoFactory with a package constructor relies on DI container magic to create instances (using the package constructor via reflection). I find that ugly.

This is my personal opinion. There are count

[2015-05-21 17:43] charlesmunger commented on #236
Given that AutoFactory's generated class takes `Provider` instances, the coupling to DI magic is already somewhat there. It's common to have classes that should only ever be obtained via DI, and this can be enforced by making your `@Inject` constructor package-private. AutoFactory doesn't have any way to obtain similar behavior today.

The use cases for public constructors on AutoFactories I think

[2015-05-22 00:19] yogurtearl opened #240 "NPE when using @AutoValue in an Android project"
Config:
gradle-2.2.1
compileSdkVersion 22
buildToolsVersion "22.0.1"
minSdkVersion 18
targetSdkVersion 22

When I use @AutoValue in an Android project I get an NPE, if I move the same class to a java only submodule, then it works.

Seems to not work in 1.0 or 1.1.

### Repro steps

Create a blank app in Android Studio.

Add dependency:
[code]

Add this class:
[code]
[code]

When I try to build it

[2015-05-22 00:46] eamonnmcmanus commented on #240
Thanks for the report! The issue appears to be the missing class javax.annotation.Generated. That's a Java 6 class that is not available in all Android environments. We could change the AutoValueProcessor code to tolerate its absence, or perhaps express a dependency from auto-value:1.x to something that defines javax.annotation.Generated.

[2015-05-22 05:56] roman-mazur commented on #240
Adding
[code]
to your Android project dependencies should fix the issue.

[2015-05-22 15:33] yogurtearl commented on #240
Could you generate it if it doesn't exist?

[2015-05-22 16:04] eamonnmcmanus commented on #240
Thanks @roman-mazur for the tip!

We only use `@Generated` in order to add this annotation to the generated code to show where it comes from. I think it would be reasonable just to avoid doing that if javax.annotation.Generated isn't around.

[2015-05-23 16:59] arend-von-reinersdorff opened #241 "Typo in Travic CI "install" command"
There's a typo in .travis.yml: "build.pom.xml" instead of "build-pom.xml". So the "install" command always fails. See error message for example here:
https://travis-ci.org/google/auto/jobs/63261133#L96

But because of the --fail-never option Maven ignores the failure.

[2015-05-24 19:06] arend-von-reinersdorff opened #243 "AutoServiceProcessorTest fails on Windows"
The problem was reported earlier by @rherrmann in https://github.com/google/auto/issues/81#issuecomment-37545877

The problem occurs when AutoServiceProcessorTest compares the generated service files with the two files:
/auto-service/src/test/resources/META-INF/services/test.AnotherService
/auto-service/src/test/resources/META-INF/services/test.SomeService

These files have Unix linebreaks. When s

[2015-05-26 15:43] arend-von-reinersdorff opened #245 "AutoFactory doesn't support more than one qualifier annotation on parameters"
I think this is a low priority issue. I haven't seen actual use of more than one qualifier annotation.

For example:

    @Qualifier
    @Retention(RUNTIME)
    @Target(PARAMETER)
    @interface Configured {
    }

    @AutoFactory
    final class SomeClass {
        private final String providedDepA;

        SomeClass(@Provided @Configured @Named String providedDepA) {
            this.providedD

[2015-05-26 16:56] tbroyer commented on #245
It should probably report an error, or copy annotations so it fails later (e.g. Dagger); but it's not supported: http://docs.oracle.com/javaee/7/api/javax/inject/Inject.html

[2015-05-26 18:51] arend-von-reinersdorff commented on #245
@tbroyer thanks for pointing that out :-) I didn't know that.

Also, I agree that reporting an error would be better than silently dropping annotations.

However,
* The Javadoc for @Inject says *should not*, not *must not*. So multiple qualifiers are discouraged but not forbidden

* Also some dependency injection frameworks support multiple qualifiers
  * CDI supports multiple qualifiers

  * I be

[2015-05-27 00:12] cgruber commented on #245
Most importantly, the JSR-330 doesn't support multiple qualifier
annotations. Don't know about spring, but CDI does. However, CDI actually
breaks compatibility with JSR-330 in this context, and this is a point of
conflict between the two specifications.  If you're using multiple
qualifiers you are not, per the spec, compatible with JSR-330.  That was a
choice of the CDI spec leads and we can't rea

[2015-05-27 00:14] cgruber commented on #245
As to should vs. must in the javadoc, you are parsing language in a way the
spec authors did not intend.  "should not" in the case of multiple
qualifiers is synonymous with must not. A soft recommendation as you are
interpreting is not really relevant to a specification like this, and the
fact that the CDI spec leads would like JSR-330 to update to include
language that supports it tells me that e

[2015-05-27 13:55] jbgi commented on #167
@eamonnmcmanus if we can't introduce the '$' sign before class names how about the prefixing the package instead? using
```<shadedPattern>\$autovalue.shaded.com.google.common</shadedPattern> ```
would work fine and would be a great usability improvement.

[2015-05-27 19:29] arend-von-reinersdorff commented on #245
@cgruber You are correct, "should" reminded me strongly of the MUST/SHOULD/RFC 2119 language that is often used in Internet standards. But javax.inject doesn't have the usual reference to RFC 2119.

Thanks a lot for all the information about CDI being incompatible with JSR-330 on multiple qualifiers :-)
You mentioned a thread about a future revision to JSR-330. That sounds interesting, could you p

[2015-05-28 11:12] tbroyer commented on #167
@eamonnmcmanus @jbgi The guys at ImmutablesOrg have forked maven-shade-plugin specifically for that: https://search.maven.org/#search%7Cga%7C1%7Ca%3A%22maven-shade-plugin%22

See https://github.com/immutables/tools#1-relocation-with--uglyfication

[2015-05-28 16:38] alfonsomunozpomer commented on #122
Seeing that this issue is still open, I just wanted to contribute by saying that you can create seralizers for your AutoValue classes. An example follows:

[code]

Where OntologyTerm is:
[code]

[2015-05-28 17:14] eamonnmcmanus commented on #122
Thanks, that's a very helpful tip for people running into this problem!

[2015-05-28 17:17] alfonsomunozpomer commented on #122
No problem. The “magic” and where I stumbled a bit until I figured it out is the line:

    kryo.register(OntologyTerm.create("").getClass(), serializer);

That links the actual AutoValue class to the abstract class.

[2015-05-28 17:47] cgruber commented on #122
I was looking at the auto project overall, and thinking about a
documentation refresh, and this seems like a good candidate for a "tips and
tricks" page for auto-value.

On Thu, 28 May 2015 at 10:17 Alfonso Muñoz-Pomer Fuentes <
notifications@github.com> wrote:

[2015-05-28 18:48] cgruber commented on #167
Ooh! Thanks for the pointer, @tbroyer.

On Thu, 28 May 2015 at 04:12 Thomas Broyer <notifications@github.com> wrote:

[2015-05-28 18:57] cgruber commented on #245
The discussion is stalled, and on a regular email thread off-list, and on a
doc shared among participants.  Nothing terribly exciting at this point.

On Wed, 27 May 2015 at 12:29 Arend v. Reinersdorff <notifications@github.com>
wrote:

[2015-05-29 03:16] cgruber commented on #174
The fix for this is in our internal repository as of today and I'll try to
get it out to a snapshot in the next day or two.  We have a few fixes and
I'll likely roll another pre-release next week.

On Mon, Apr 27, 2015, 12:24 novemberox <notifications@github.com> wrote:

[2015-05-29 11:25] confile commented on #174
that is great. Thanks

[2015-06-01 22:43] rharter commented on #202
After discussion with @eamonnmcmanus, I think we've come up with a working final architecture.  I'm documenting it here.

In the new architecture the AutoValue generated class will be the only direct subclass of the `@AutoValue class Foo` class, while each extension will have the opportunity to generate a subclass of that.  The classes will have `$` prepended to their name accordingly.

[code]

Th

[2015-06-02 00:15] cgruber commented on #202
Ok - not going to lie, the million superclasses doesn't make me feel very
happy, but I think it's not the worst thing in the world.

Having only rudimentarily scanned the solution, has any consideration been
given to possible ordering needs of the extensions?

On Mon, 1 Jun 2015 at 15:43 Ryan Harter <notifications@github.com> wrote:

[2015-06-02 00:26] rharter commented on #202
The extent of consideration for the order if extensions has been that one can require itself be the final class in the chain, but that's about it.

The current solution places the AutoValue generated class as the basest of the concrete base classes, and allows a single extension to require its subclass be the final implementation.

Are you suggesting allowing some extensions to be dependent on oth

[2015-06-02 00:43] eamonnmcmanus commented on #202
I think builders should Just Work? The code generated for `build()` today calls the `AutoValue_Foo` constructor, which it should continue to do, though `AutoValue_Foo` will no longer be the AutoValue implementation but will be the last extension. User code that does `new AutoValue_Foo.Builder()` will instantiate the `Builder` class inherited from `$$AutoValue_Foo` or whatever.

[2015-06-02 00:50] cgruber commented on #202
I'm not precisely "suggesting" it, so much as asking how much consideration
has been given to the question, since I can imagine extensions that need to
happen after others.

I know we are going to face this in Dagger, since some processor extensions
add to the analysis, some generate, and some do both, and these may need
the information form other extensions into account.  Like a visualizer
would

[2015-06-02 00:59] eamonnmcmanus commented on #202
I can imagine some sort of ordering constraint, of which the must-be-lowest constraint would be a special case. But I propose that we should make an API without one first, if only because I don't see a very clean way of doing it while maintaining the property that extensions are independent of each other and mostly opaque to each other too.

[2015-06-02 01:21] cgruber commented on #202
SGTM.

On Mon, 1 Jun 2015 at 17:59 Éamonn McManus <notifications@github.com> wrote:

[2015-06-02 03:04] rharter commented on #202
It sounds like making the builder Just Work (which I completely agree with) adds a few rules to which extensions must adhere.

1. Extensions must not add additional constructors, unless they also provide the AutoValue generated constructor.  (So that the Builder can call AutoValue_Foo(...) appropriately)
1. The Builder class must not be static, so that it can be inherited and referred to as AutoVa

[2015-06-03 16:42] eamonnmcmanus commented on #202
Rule 1 looks necessary. Rule 2 doesn't, though. Static classes are inherited, so `new AutoValue_Foo.Builder()` will work even if the `Builder` class is static and defined in an ancestor of `AutoValue_Foo`.

[2015-06-04 06:28] akanter commented on #202
Aside from ordering, what other validation concerns would we need to address? Certainly the API could include a `validate(AutoValueExtensionContext)`. For the ordering issue specifically, the actual application of the extensions could happen through a wrapper processor like `@OrderedAutoValueExtender({Extension1.class, Extension2.class,...})`.

Then it just becomes a matter of determining how much

[2015-06-04 14:40] eamonnmcmanus commented on #202
The idea of a wrapper extension is intriguing. Since the plan is for AutoValue to find extensions using [ServiceLoader](http://docs.oracle.com/javase/7/docs/api/java/util/ServiceLoader.html), it would need to have a way to preempt that if there is a MetaAutoValueExtension present (itself loaded through ServiceLoader). However, again, I think we should postpone thinking about this level of complexi

[2015-06-04 17:12] mfulton26 opened #247 "generated classes do not include type annotations"
Other than the `AutoValue` annotation itself should not generated `AutoValue_*` classes include the same annotations as the `abstract` class (except perhaps those annotations annotated with [`Inherited`](https://docs.oracle.com/javase/7/docs/api/java/lang/annotation/Inherited.html))?

e.g. Given
[code]
and
[code]
AutoValue currently generates
[code]
but I'd like it to generate
[code]
.

Is there a

[2015-06-04 17:21] mfulton26 opened #248 "Support annotating fields"
I wanted to try using `AutoValue` with my JPA entities. Maybe that isn't the right approach to begin with but I often find I want my entities to be immutable once I've pulled them out of the database so that I can reliably use them in hash sets/maps, etc. However, when I annotate properties (getter methods) with persistence annotations, for example `@javax.persistence.Id`, JPA now enforces creatin

[2015-06-04 17:22] tbroyer commented on #247
See discussion in #187

[2015-06-04 17:27] mfulton26 commented on #247
Thanks. That looks like the same issue so I've subscribed to it and am closing this one.

[2015-06-04 17:27] #247 closed

[2015-06-04 17:52] mfulton26 commented on #248
Never mind, there are other issues with this approach. In fact, JPA enforces creating the accompanying setter methods regardless of additional annotations.

[2015-06-04 17:52] #248 closed

[2015-06-04 18:44] lukesandberg opened #249 "inconsistent transitive maven deps for auto-factory"
I was considering adding an AutoFactory dep to closure-templates but ran into this:

Dependency convergence error for com.google.auto:auto-common:0.4 paths to dependency are:
+-com.google.template:soy:2.5.0-SNAPSHOT
  +-com.google.auto.factory:auto-factory:1.0-beta2
    +-com.google.auto:auto-common:0.4
and
+-com.google.template:soy:2.5.0-SNAPSHOT
  +-com.google.auto.factory:auto-factory:1.0-beta2

[2015-06-04 21:31] tbroyer commented on #249
The mysteries of Maven… auto-factory has a direct dependency on auto-common so its version "overrides" the one brought transitively by auto-service. Also, isn't auto-service in provided scope? I'd call it a bug in the enforcer plugin.

[2015-06-04 21:35] lukesandberg commented on #249
i don't think auto-service is in the provided scope
https://github.com/google/auto/blob/master/factory/pom.xml#L52

though, i admit i know next to nothing about maven

[2015-06-04 21:38] tbroyer commented on #249
You might have found a bug in auto-factory's pom then ;-)

[2015-06-05 17:19] cantrowitz opened #250 "Separate AutoValue artifacts into an annotation and a processor"
Is there a good way to direct generated output to a different directory than [build_folder]/intermediates/classes.... This gets a bit messy from using it in the IDE and linking to a build output folder as a src directory.

[2015-06-05 17:50] tbroyer commented on #250
This is dictated by the `-s` argument to `javac`, so it all depends on your build tool, and only it. Your not even forced to supply that folder and `javac` will keep things in memory (or temporary files).

[2015-06-05 18:57] acantro1 commented on #250
A lot of android projects have an associated apt binary:
 e.g.:
[code]

This makes it quick and easy for developers to integrate it into their project. Any plans on adding this support?

It does seem like [AutoParcel](https://github.com/frankiesardo/auto-parcel) does this, but might be good to have all developments in once location.

Thanks!

[2015-06-05 19:14] tbroyer commented on #250
I don't get it. Auto works exactly the same as Dagger as far as declaring your dependencies goes: just add the dependency to the `apt` configuration (nothing to add to `compile` as there's no runtime dependency). There's nothing to add to Auto, or I didn't understand what you're asking for.

[2015-06-06 01:02] cgruber commented on #250
As @tbroyer pointed out, using the same strategy as dagger projects, using the plugins from http://code.neenbedankt.com/gradle-android-apt-plugin/ (also found here: https://bitbucket.org/hvisser/android-apt) will let you specify:

dependencies {
  apt 'com.google.auto.value:auto-value:1.1'
}

and this should successfully configure gradle and intellij to use auto-values and put the generated files

[2015-06-06 01:03] #245 closed

[2015-06-06 01:08] JakeWharton commented on #250
The annotation is only on the processor path if you do that which means you
cannot actually leverage the library behavior.

On Fri, Jun 5, 2015, 9:02 PM Christian Edward Gruber <
notifications@github.com> wrote:

[2015-06-06 01:33] cgruber commented on #250
I'm not sure I follow what you mean, jake?  There is no runtime "library" -
just an annotation whose bytecode is not required at runtime.

On Fri, 5 Jun 2015 at 18:08 Jake Wharton <notifications@github.com> wrote:

[2015-06-06 01:57] JakeWharton commented on #250
The annotation needs to be on the classpath for use.

On Fri, Jun 5, 2015, 9:33 PM Christian Edward Gruber <
notifications@github.com> wrote:

[2015-06-06 03:38] acantro1 commented on #250
As @JakeWharton pointed out there should be one apt binary and one compile binary.

I think the [AutoParcel](https://github.com/frankiesardo/auto-parcel) project might be the easiest to illustrate (since it is pretty closely related to this project):
[code]

The [auto-parcel-processor] (https://github.com/frankiesardo/auto-parcel/tree/master/auto-parcel-processor) and the actual annotation [auto-p

[2015-06-06 05:04] johncarl81 commented on #250
I don't think the separation of the two libraries is necessary.   The compile scoped dependency of auto-parcel only contains annotations that are `@Retention(RetentionPolicy.SOURCE)` (http://docs.oracle.com/javase/7/docs/api/java/lang/annotation/RetentionPolicy.html#SOURCE), which is "discarded by the compiler".

Also, I can confirm I use Autovalue under provided / apt scope successfully.

[2015-06-06 06:52] tbroyer commented on #250
From the android-apt README:

I suppose using `provided` would also work.

In https://github.com/tbroyer/apt-gradle-plugin (for non-android projects), I created a `compileOnly` configuration, similar to the android's `provided` one. Because `apt` does extends `compileOnly` (contrary to the android-apt plugin), you'd have to add Auto to both `compileOnly` (for the annotation) and `apt` (for the pro

[2015-06-06 07:10] JakeWharton commented on #250
The big problem we face with `provided` is that dependencies show up on the IDE classpath but not at runtime. You an easily reference a Guava type without complaint from the compiler but only to find a runtime failure. Not only do we want this to fail at compile time, we _never_ want Guava to show up in IDE auto-complete.

[2015-06-06 13:03] tbroyer commented on #250
@JakeWharton Yup. This is why you want those dependencies of annotation processors to be shaded and "hidden". But indeed having separate artifacts for annotations and processor makes it easier.

[2015-06-06 19:24] rharter commented on #202
@eamonnmcmanus I've got this just about ready to go into a PR, just have to add some documentation.

[2015-06-06 19:59] rharter commented on #202
One thing I'm wrestling with now is the idea that all generated classes (AutoValue generated and Extension generated) will be abstract, and the final one will be final.  This allows the annotated class to declare an interface that and extension will fulfill.

The problem here is that the extension classes then have to mirror the constructor of the AutoValue generated class, since it will be abstra

[2015-06-07 00:09] johncarl81 commented on #250
@JakeWharton, ah, that's good point, I hadn't thought of that perspective.  Makes the API much more clear and no extra non-runtime dependencies to reference in the IDE.  I always figured the apt plugin was only meant for referencing generated code in Android Studio.

[2015-06-07 01:44] jenzz commented on #240
@roman-mazur: In fact, just adding the [JSR250-API](http://mvnrepository.com/artifact/javax.annotation/jsr250-api/1.0) dependency is sufficient in this case saving you an incredible 20kb :)

Also, I don't think you need to include it using **compile**. The annotation obviously needs to be in your compilation classpath, but since it's not needed at runtime, the **provided** scope should do just fin

[2015-06-07 23:21] cgruber commented on #250
Hmm. We went deliberately with a one artifact approach because of a bias
for the Maven usage approach.  We can revisit that upon consideration. Our
main fear is people using annotations and not configuring the processor
into their builds.  Unlike bazel, there's no "exported plugin" metadata
where a dependency can vend processors along with it in a 2 artifact
scenario.

I'd like feedback from folks

[2015-06-07 23:48] tbroyer commented on #250
I, for one, am fine with a single artifact approach iff dependencies are all shaded (and hidden from auto complete in IDEs), and of course if there are no runtime dependencies (which would mean the processor is deployed in the runtime classpath).
I think Jake's issue is more with Dagger 2 which doesn't shade Guava.

[2015-06-07 23:53] cgruber commented on #250
Dagger 2 is already a 2 artifact situation because there is a runtime,
albeit very minimal.

Autofactory shades everything I think, and autovalue is about to as we
strip out velocity with a micro replacement Éamonn wrote.

On Sun, Jun 7, 2015, 18:48 Thomas Broyer <notifications@github.com> wrote:

[2015-06-07 23:58] JakeWharton commented on #250
Android (and I) prefer the Dagger 2 approach. This allows us to keep the
classpath free of Guava and other fat cow dependencies from making it into
the app (via processor path). It also puts the runtime (whether it's a
single annotation or proper runtime library ala Dagger 1 + JSR330) as a
normal, simple compile dependency.

On Sun, Jun 7, 2015, 7:48 PM Thomas Broyer <notifications@github.com> wro

[2015-06-08 00:05] cgruber commented on #250
Even when the contents of the "dependency" is a source only annotation?
Why would you even want that?

Though given that you have to go through the motions in gradle, it seems no
worse.  I wonder if everything were shaded (avoiding ide collisions) and
the apt plugin for gradle added the dependency as a build time only dep,
whether that would change your view?

On Sun, Jun 7, 2015, 18:58 Jake Whart

[2015-06-08 00:05] cgruber commented on #250
Not arguing strongly here, just trying to hone in on the best policy to
support everyone., if possible.

On Sun, Jun 7, 2015, 19:04 Christian Gruber <cgruber@google.com> wrote:

[2015-06-08 00:06] johncarl81 commented on #250
Correct me if I'm wrong, Shading only obfuscates the package, it would be easy to accidentally autocomplete a Guava class by just class name.. right?

[2015-06-08 00:08] cgruber commented on #250
Yes, though I believe naming the package starting with $ helps fix that, in
some cases.

On Sun, Jun 7, 2015, 19:06 John Ericksen <notifications@github.com> wrote:

[2015-06-08 00:15] johncarl81 commented on #250
I'll throw a vote in for the Dagger 2 approach.  Pros:  API usability in the IDE around the APT scope, Cons: the user might miss the compiler dependency.

If a user miss-configures the compiler dependency wouldn't it result in a failed build?

With the added push of at least one Android extension (#202) puts some emphasis on the Android side of things.

[2015-06-08 00:17] cgruber commented on #250
Fair point about compilation failures.

On Sun, Jun 7, 2015, 19:15 John Ericksen <notifications@github.com> wrote:

[2015-06-08 00:57] JakeWharton commented on #250
Yes, even if it is a single source-only annotation. It needs to be on the
classpath for IDE completion. It is useless on the processor path.

On Sun, Jun 7, 2015, 8:17 PM Christian Edward Gruber <
notifications@github.com> wrote:

[2015-06-08 01:29] cgruber commented on #250
Sorry... The question included the premise that we fix the plugin to make
the apt scope export the plugin to the class path of the ide.

But yeah.  It's probably just easier to extract the annotation. Sigh.  The
more I think about the android studio use case the more I think you're
right.

On Sun, Jun 7, 2015, 19:57 Jake Wharton <notifications@github.com> wrote:

[2015-06-08 01:29] cgruber commented on #250
I'm just bummed as it adds boilerplate to the Maven case.

On Sun, Jun 7, 2015, 20:28 Christian Gruber <cgruber@google.com> wrote:

[2015-06-08 03:39] JakeWharton commented on #250
It's not strictly the Maven case. The build system is irrelevant. It's the case where you don't care about your classpath or what's in your final artifact. Not sure how you'd classify it, but for the purposes of discussion it's the JVM service case.

[2015-06-08 16:26] eamonnmcmanus commented on #118
This is explicitly called out [in the documentation](https://github.com/google/auto/tree/master/value#restrictions-and-non-features). We don't generate compareTo because it is not obvious what order the properties should be compared in when there is more than one. Although we could use the same convention as for constructor parameters, we consider the dependency on declaration order to be a weak s

[2015-06-08 16:26] #118 closed

[2015-06-08 22:20] yohanan commented on #240
@jenzz solution (based on @roman-mazur) solved this issue for me.

thanks!

[2015-06-11 20:08] kenzierocks commented on #166
Any progress on this?

[2015-06-11 20:08] eamonnmcmanus commented on #202
I think part of the contract of an extension is that the class it generates must have a constructor whose parameters correspond to `Map<String, ExecutableElement> properties();`. Since user code can write `new AutoValue_Foo(p1, p2)` I don't see how that can be avoided.

[2015-06-11 21:56] rharter commented on #202
Well my initial thought was that you would just not add a constructor and it would inherit one, but that doesn't work if the AutoValue class is abstract.  The problem with just stepping through the keys, I believe, is that in the constructor the user can write order is important.  Map doesn't guarantee order of it's keys, right?  Perhaps if we used a SortedMap?

[2015-06-11 21:59] eamonnmcmanus commented on #202
Constructors aren't inherited. Map iteration order is unspecified in general but we would obviously want to specify that the properties map is iterated in the correct order. (In practice it would be a LinkedHashMap or an ImmutableMap, both of which iterate in the order the entries were added.)

[2015-06-11 22:03] rharter commented on #202
Okay, I'll just make that a requirement and get this in.

[2015-06-19 06:21] ibaca commented on #223
I had the same problem. Just add execution permissions to mvn. It's weird why only fails in IntelliJ + invoker-plugin, but this looks like a IntelliJ or maven-invoker-plugin problem, not and google-auto bug. ```chmode u+x  /home/zubzub/idea-IU-141.177.4/plugins/maven/lib/maven3/bin/mvn```

[2015-06-25 17:23] niels1voo opened #253 "auto-value 1.1 TemplateParseException"
I tried to upgrade to auto-value 1.1 from 1.0-rc1. My build is now failing with the error below.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project recommender-menus: Fatal error compiling: java.lang.AssertionError: org.apache.velocity.runtime.parser.TemplateParseException: Encountered "[" at autovalue.vm[line 41, column 71]
[ERR

[2015-06-25 17:28] eamonnmcmanus commented on #253
My guess is that you also have an older version of Apache Velocity in your class path. We're planning to release a version of AutoValue that no longer uses Apache Velocity internally, so this problem should go away.

[2015-06-25 18:27] niels1voo commented on #253
I've got aspectj 1.8.6 at work in a different module (declared in root pom dependencyManagement though).  When I put velocity 1.7 in the parent's dependencyManagement with provided scope problem solved.  Thanks for the guidance.

[2015-06-25 18:27] #253 closed

[2015-06-27 23:48] esnellman opened #254 "AutoValue should reject `@Nullable` on primitive properties"
Hi all,

If I have a primitive type field and i annotate it with @Nullable.  The Builder it-self will use an Object type instead.  However when .build() is called it will pass the field into the method constructor method invocation.  This forces auto-unboxing and NPE if null.  Can we code this to instead do a null check and pass in default primitive values?  Or can we have the builder use primitiv

[2015-06-27 23:56] lowasser commented on #254
Wait, what?  What would you expect a @Nullable primitive to do?  That
sounds nonsensical.

On Sat, Jun 27, 2015, 16:48 esnellman <notifications@github.com> wrote:

[2015-06-28 00:24] esnellman commented on #254
[code]
Produces this builder

[code]

[2015-06-28 07:13] eamonnmcmanus commented on #254
I suppose AutoValue should produce an error if you apply `@Nullable` to a property of primitive type. Obviously `field1()` can never return null in the example.

[2015-06-28 17:38] esnellman commented on #254
I would rather the builder it self just uses primitive types and not track
if a field has been set or not.

On Sun, Jun 28, 2015 at 3:13 AM, Éamonn McManus <notifications@github.com>
wrote:

[2015-06-28 19:11] eamonnmcmanus commented on #254
Well, that's a different issue. We made the design decision to require primitive and non-`@Nullable` reference properties to be given an explicit value, possibly before the builder is returned from the `static Builder builder()` method. I think we're unlikely to change that.

It happens to mean that we can track whether properties have been set by using null, but that's an implementation detail. (

[2015-06-28 22:16] esnellman commented on #254
I wish GWT was not holding back..  Anyway to add a annotation to bring back
BitSet / primitive builders?

Well then for @Nullable primitive fields do a ternary null check in the
constructor invocation, if null pass in a default value else unbox.

On Sun, Jun 28, 2015 at 3:12 PM, Éamonn McManus <notifications@github.com>
wrote:

[2015-06-29 14:29] eamonnmcmanus commented on #254
I'm not convinced that would be a good idea. It seems at least as likely that users would want a NullPointerException as that they would want a default value of 0, if they pass a null Integer to an int property. Just like when you assign an Integer to an int.

[2015-06-29 15:22] punya opened #255 "Generated builder can't be used for Jackson deserialization"
Jackson 2.x supports [deserializing JSON by using the builder pattern](http://wiki.fasterxml.com/JacksonFeatureBuilderPattern), so it would be really cool if the following worked:

[code]

Unfortunately, the class `AutoValue_Project.Builder` doesn't exist at the point the compiler sees the `@JsonDeserialize` annotation, so this fails to compile. Is there a workaround for this problem?

NB: the bes

[2015-06-29 23:04] esnellman commented on #254
No user is expecting a NPE from unboxing especially since they annotated
nullable and already pass the illegal argument exception checks
On Jun 29, 2015 10:29 AM, "Éamonn McManus" <notifications@github.com> wrote:

[2015-06-29 23:11] eamonnmcmanus commented on #254
I don't follow that. We should not allow users to annotate primitive properties with `@Nullable` because that makes no sense.
[code]

So you must write something like this:
[code]

Then if you call `Foo.builder().setBar((Integer) null).build()` you will get a NullPointerException, which is completely consistent with what happens anywhere else in the language.

[2015-06-30 07:10] esnellman commented on #254
The NPE in your example above ```Foo.builder().setBar((Integer) null).build()``` is thrown outside of the interface boundary and thus not inside AutoValue.  Also this hits on obvious Java language knowledge that most users should be aware of.

The NPE I am reporting is from un-boxing a null that occurs inside the generated .build() code in a generate builder:
[code]

Going forward, you have offere

[2015-06-30 14:39] eamonnmcmanus commented on #254
I think I see the source of the confusion. AutoValue really uses `@Nullable` to mean two different things. One is the literal meaning, that the property in question can be null. That obviously doesn't apply to primitive properties. The second is an additional meaning with builders, that the property can be omitted from the builder, and will default to null. You would like this meaning to be extend

[2015-07-05 19:14] kenzierocks opened #256 "AutoValue builders (+ constructors?) with more permissive generics"
Currently builders and constructors only take in the precise generic that matches the return type, if I put `List<String>` I must give a `List<String>`. However, it's generally a good idea to have the methods that accept lists and other collections take `List<? extends String>`. This requires strange naming in the builder when hiding the abstract methods and providing others due to erasue:

[code]

[2015-07-06 15:20] sherter commented on #256
That's not necessarily a good idea. In fact it's a very bad idea if you want to add more elements to the collection (read [Effective Java, Item 28](https://books.google.de/books?id=ka2VUBqHiWkC&pg=PA134#v=onepage&q&f=false)).

Your cast in `list2()` is not safe! If you really need the flexibility, you have to do something like this:

[code]

That's not something the library can (or should) do for

[2015-07-06 15:26] kenzierocks commented on #256
I think I didn't get my point across correctly. I want the library to accept the `super`/`extends` versions as valid versions of the property, in addition to supporting the immediate generic.

[2015-07-06 16:13] eamonnmcmanus commented on #256
Since AutoValue classes are supposed to be immutable, AutoValue properties that are collections should be immutable collections. So we have some special treatment for Guava's immutable types such as [ImmutableList](http://docs.guava-libraries.googlecode.com/git-history/release/javadoc/com/google/common/collect/ImmutableList.html). In particular, if you have a property of type `ImmutableList<Foo>`

[2015-07-06 16:22] kenzierocks commented on #256
The ImmutableList may cover my use case, I didn't realize it would work with that.

[2015-07-15 21:31] nuxusr commented on #174
Any update here?

[2015-07-21 16:52] jlcheng commented on #255
There is another problem, Jackson requires the Builder class in the annotation to have a public constructor. The pattern used by AutoValue.Builder is to have a protected constructor, and the programmer is "supposed" to access an instance of the builder through a .builder() method. This pattern is just not a good fit with Jackson.

IMO Either Jackson needs to support getting access to a Builder ins

[2015-07-22 21:15] vanvlack commented on #255
You should be able to do this like the following:

[code]

You shouldn't be referencing your `AutoValue_` class impl in the annotation at all, as Jackson annotations are inherited (https://github.com/FasterXML/jackson-annotations#improvements-over-typical-java-annotations).

[2015-08-01 11:13] tomrozb opened #258 "AutoValue Builder default values"
Looks like it's impossible to define default values when using `@AutoValue.Builder`. You have to define all the properties or you'll get:

```java.lang.IllegalStateException: Missing required properties: X```

Using @AutoValue without builder it possible to pass default values through constructor. With builder pattern it's not possible. It'd be nice to have such possibility.

Any chance to provide

[2015-08-01 13:18] hannesstruss commented on #258
[The docs](https://github.com/google/auto/tree/master/value#default-values-with-builders) provide an example of how to implement default values with Builders.

[2015-08-01 13:50] tomrozb commented on #258
@hannesstruss thanks, I haven't noticed that code when I was looking for solution.

[2015-08-01 13:50] #258 closed

[2015-08-05 20:10] eamonnmcmanus commented on #210
This should be fixed by #259, which replaces Apache Velocity with a subset reimplementation.

[2015-08-05 20:10] #210 closed

[2015-08-05 20:11] eamonnmcmanus commented on #190
This is obsolete; the builder feature is included in the released version.

[2015-08-05 20:11] #190 closed

[2015-08-10 16:03] jbgi opened #263 "Better shadowing of dependencies by prefixing class names with '$'"
This a follow-up to #167 to implements the suggestion by @tbroyer to use the immutables.org fork of maven-shade-plugin (https://github.com/immutables/tools#1-relocation-with--uglyfication).

The following configuration would provide the requested shadowing:
[code]

[2015-08-10 16:03] jbgi commented on #167
closing in favor of #263

[2015-08-10 16:03] #167 closed

[2015-08-10 17:03] eamonnmcmanus commented on #263
Seems reasonable. Do you want to send a PR? If not I can do it.

[2015-08-10 17:05] jbgi commented on #263
Would probably be faster if you can do it. thanks.

[2015-08-10 23:12] eamonnmcmanus commented on #263
OK, #264 is basically just applying exactly what you have above.

[2015-08-12 16:28] rharter commented on #202
I know it's kind of late to bring this up, but does anyone else think `boolean mustBeAtEnd(Context context);` is a stupid name for a method?  Initially I was going to call it `mustBeFinal` but thought it might be confused with the final modifier as opposed to the final class in the chain, but now that I'm working with it, everything else in the chain should be abstract and the final class should a

[2015-08-12 19:20] eamonnmcmanus commented on #202
Yes, I think that would be a better name. I'd be fine with just changing it.

[2015-08-12 22:42] frankiesardo commented on #250
Separating the annotation from the processing is a very sounded choice in my opinion.

It's not impossible that somebody would like to depend just on ˋgoogle.auto.value.annotationˋ and provide its own implementation for the processor (to do something that we can't forsee at the moment).

In the early days of my fork having the annotation as a separate dependency would have been great: the users th

[2015-08-15 03:23] cgruber commented on #202
PR #237  created all sorts of practical problems in our build inside google, and probably shouldn't have been put in the com.google.auto.value package, but maybe in a com.google.auto.value.processor.api package or something. :(  I can fix the build issues, and that's not THAT big a deal, but I actaully don't think this should be in the same package as `@AutoValue`.  It's not public api, it's proce

[2015-08-15 03:42] JakeWharton commented on #202
How about com.google.auto.value.processor.extension?

On Fri, Aug 14, 2015 at 11:23 PM Christian Edward Gruber <
notifications@github.com> wrote:

[2015-08-15 14:41] cgruber commented on #202
SGTM.

[2015-08-15 15:54] eamonnmcmanus commented on #202
Sounds good to me too. Since I'm on vacation, perhaps @cgruber can take care of it?

[2015-08-15 17:42] cgruber commented on #202
Shall do.  I expected to have to wait to hear from you until you were done
vacating.  Go enjoy!  Stop internetting for work purposes!

On Sat, 15 Aug 2015 at 08:54 Éamonn McManus <notifications@github.com>
wrote:

[2015-08-19 21:22] artem-zinnatullin commented on #138
Little example of AutoValue + Jackson https://github.com/artem-zinnatullin/AutoJackson with builder pattern

[2015-08-25 18:16] Nodifferent commented on #240
Thanks @jenzz!

[2015-08-27 01:32] #240 closed

[2015-09-09 20:45] JakeWharton opened #267 "AutoValue cannot handle the same method from multiple interfaces."
[code]
[code]

[2015-09-09 20:50] JakeWharton commented on #267
This worked in either 1.0 or 1.1. I'm not sure when the regression came as we we're on a ~~forever~~ fork to add things like Parcelable support.

[2015-09-09 22:30] eamonnmcmanus commented on #267
I'm pretty sure I know exactly when the change happened. I will look into fixing it. Thanks for the regression test!
(https://github.com/google/auto/commit/9d4ce9ec8f73a0f7fb59a265e6035b0af6ae8389)

[2015-09-09 22:42] eamonnmcmanus commented on #267
As a workaround, you can override the multiply-inherited method in the `@AutoValue` class. In the example:
[code]

[2015-09-09 22:45] JakeWharton commented on #267
Oh, cool. Will do that for now. Thanks.

[2015-09-10 03:26] rharter opened #268 "Separate AutoValue Annotations and Processor into different dependencies."
It would be really helpful, especially in constrained environments like Android, to have the Annotations and the Processor separated into different dependencies.  The current structure leads to unnecessarily bloated output binaries.

Currently on Android, if the user includes AutoValue using `compile 'com.google.auto.value:auto-value:1.2'` then all of the processing classes and all of the shaded c

[2015-09-10 03:32] JakeWharton commented on #268
Best workaround I've found so far is using `apt` for the dependency and just copy/pasting the `AutoValue` annotation type into your app. But it would be great to not have to do this.

[2015-09-10 03:33] JakeWharton commented on #268
Also, +1 :grinning:

[2015-09-10 04:46] alangpierce commented on #268
AutoValue doesn't have any runtime dependencies (since the `AutoValue` annotation itself  only has `SOURCE` retention), so you can use the `provided` scope to avoid including anything in your binary, like this:

[code]

[2015-09-10 04:54] JakeWharton commented on #268
This is what everyone is doing. It's bad for two reasons:

* Obvious duplication across configurations is error prone and annoying
* It exposes the types and all dependencies on the classpath for IDE autocompletion

[2015-09-10 10:05] tbroyer commented on #268
While I tend to agree:

* Auto Value no longer depends on Velocity, so all dependencies are now shaded
* #264 would hide shaded dependencies from IDE autocompletion
* the processor itself could be similarly hidden from autocompletion if that's a problem (people using Maven would see the processor if not hidden that way, even when split into a separate JAR, as maven doesn't have first-class support

[2015-09-10 10:48] jmfayard opened #269 "Could autovalue not work with interface?"
Hello, this is just a question, and probably trivial,
but I am curious about why AutoValue could not work with interface
which after all are static and abstract

Example:
[code]

[2015-09-10 12:31] sherter commented on #269
It would work with interfaces, but it would be less powerful. In interfaces all methods are abstract by default. In abstract classes you _can_ have non-abstract methods (i.e. implementations):

[code]

[2015-09-10 12:34] rharter commented on #268
For the sake of discussion on the user confusion point, I'd like to point out that this is exactly what [Dagger](http://google.github.io/dagger/) and it seems to work well.

Correct me if I'm wrong, but with the processing jar having a dependency on the annotations jar, there wouldn't actually be any difference in the workflow for Maven users since, as you said, Maven doesn't have an apt scope.

[2015-09-10 12:45] tbroyer commented on #269
@sherter Not true in Java 8.

[code]

[2015-09-10 12:53] tbroyer commented on #269
See #86

[2015-09-10 12:54] jbgi commented on #269
value type inheritance is considered a bad practice hence interface are (intentionally) not supported, I believe. also the reason why am explicit, single, no-arg package-private, constructor is recommended for annotated abstract class.

[2015-09-10 12:56] jmfayard commented on #269
@tbroyer @jbgi thanks, it makes sense.
@sherter for the record, my example does not compile
`Error:(7, 5) error: @com.google.auto.value.AutoValue only applies to classes`

[2015-09-10 12:57] #269 closed

[2015-09-10 13:02] tbroyer commented on #268
@rharter Absolutely, wouldn't change much things, and would have a few happy consequences.

So to clarify: I'm +1 to making 2 artifacts the same way Dagger (both 1 and 2) do, i.e. with a _processor_ (or _compiler_, I don't care) one depending on the _annotations_ (or _core_) one; not the way Immutables 1 did (`value-standalone` being a superset of `value`). And if there's demand for a _standalone_

[2015-09-10 17:30] kevinb9n commented on #269
Is there any advantage to support interfaces other than letting you omit
"public abstract" from your methods? We haven't thought of it. In
particular, we cannot imagine any decent reason to ever have a second
implementation, or <shudder> to mock a value type.

If we did support interfaces, we'd have to add text to our documentation
begging people to not use the feature we just added. Since the gen

[2015-09-11 05:12] jmfayard commented on #269
@kevinb9n I think I wrote 20 interfaces for each abstract class I wrote, so it's probably just a familiarity bias.

[2015-09-14 05:45] jpink opened #272 "@AutoService doesn't work in abstract class."
The AutoService annotation must be placed in implementation class, not in abstract class. Otherwise I get
COMPILATION ERROR :
-------------------------------------------------------------
Bad service configuration file, or exception thrown while constructing Processor object: javax.annotation.processing.Processor: Provider my.pakage.AbstractProcessor could not be instantiated: java.lang.Instantiat

[2015-09-14 15:28] eamonnmcmanus commented on #211
So, to be clear, the issue is that if you have something like this...

[code]

...then you can write `Foo.builder().bar(null).build()` and instead of throwing NullPointerException for the `bar(null)` it will throw IllegalStateException for the `build()`. That does seem suboptimal and it should be easy enough to fix.

[2015-09-15 19:14] frankiesardo commented on #268
Previous discussion on #250 as well. @eamonnmcmanus recently reopened it.

I'm not gonna restate my argument but, yeah, separating annotation and processor would be a great thing, especially now that AutoValue is getting extensions. If `AutoValueExtension` were still an interface I would have included it in the `annotation` library as well, so that any extension only has to depend on that lightwei

[2015-09-15 21:42] eamonnmcmanus commented on #250
Seems to have ended up as a duplicate of #268.

[2015-09-15 21:42] #250 closed

[2015-09-17 12:53] dballesteros7 opened #275 "AutoValue fails when a isFoo() method returns Boolean instead of boolean."
I believe it is because [this line](https://github.com/google/auto/blob/master/value/src/main/java/com/google/auto/value/processor/AutoValueProcessor.java#L532) only checks for boolean.class.

Is there any particular reason why this doesn't check for Boolean.class as well? It would help when you have optional boolean parameters, i.e.

[code]

My workaround is to use boolean and always set a defaul

[2015-09-17 18:00] eamonnmcmanus commented on #275
It's deliberate, since we're following a subset of the [JavaBeans conventions](https://docs.oracle.com/javase/tutorial/javabeans/writing/properties.html). There, the special `isFoo` case applies exactly to `boolean` and no other type.

As a practical matter, I think `@Nullable Boolean` is something of a code smell. Among other problems it means an unsuspecting user can write
[code]
which will blow

[2015-09-17 18:00] #275 closed

[2015-09-18 08:49] dballesteros7 commented on #275
Thanks! Definitely I like the approach below better to catch when the argument was not specified.

[2015-09-20 09:03] tbroyer commented on #268
It's more that they go into independent "classpaths" (to me at least): annotations are needed by the code that you compile (so goes into the compile classpath), and the processor goes into processor path. Technically, the processor doesn't even need to depend on the annotation (see how https://github.com/tbroyer/bullet/blob/aff7e4d3d4a944aef2c891a81d68919fa0000c63/compiler/src/main/java/bullet/imp

[2015-09-20 13:47] rharter commented on #268
I agree, I'd like to see the minimal code required by the compiled code in
the compile path, and everything else in the processor path.

On Sun, Sep 20, 2015, 4:03 AM Thomas Broyer <notifications@github.com>
wrote:

[2015-09-21 14:45] busybeaver commented on #82
Sorry for being impatient... but do we already know when this bug will be fixed (and a new version of autofactory will be published)?
This bug makes it autofactory practically unusable... creating for each factory (which implements an interface) a separate package results in almost more time lost than saved due to the factory autogeneration.

[2015-09-23 03:20] adriancole commented on #255
@cowtowncoder any thoughts on this issue?

[2015-09-23 04:06] cowtowncoder commented on #255
@adriancole I don't think constructor of `Builder` needs to be public; a `private` one should work as well. And if not, I'd consider that a Jackson bug. Not sure if that'd be enough, but in general it's not good (IMO) to require public accessors when reflection can be used to access any fields / methods (although code generation may be limited to public ones).

I am also open to improvements in fo

[2015-09-24 10:48] zkiss commented on #255
Haven't investigated this very thoroughly, but this guy managed to make it work: https://github.com/artem-zinnatullin/AutoJackson

[2015-09-24 11:41] artem-zinnatullin commented on #255
Yep, I'm here if you want some help — feel free to connect me!

Actually, Jackson is powerful enough to handle classes with Builders without changes in AutoValue/Jackson.

You can check the example: https://github.com/artem-zinnatullin/AutoJackson

[2015-09-24 12:55] zkiss opened #276 "AutoValue: Support withXyz setters on Builders"
It is common practice to prefix property setter methods on builders with `with`. This naming style however is not supported by `AutoValue.Builder`. According to the docs, only no prefix and `set` is supported.

It would be nice if at least the `with` prefix was supported, but maybe the ability to set this to any arbitrary value would not be too bad.

[code]

[2015-09-24 13:27] dballesteros7 opened #277 "AutoValue: Support for extending a class."
Suppose I have a set of base arguments that I need to share with two classes, and I define the following base class.

[code]

Now I want to add baz for class A and qux for class B.

[code]

And similarly for ArgsB. However this fails with: _Setter methods must return ArgsA.Builder_, despite the generic annotation.

Is this something sane to do? Could it be fixed in the way the types are being comp

[2015-09-24 13:34] jbgi commented on #277
See also https://github.com/google/auto/issues/269
aka: you should use composition instead of inheritance.

[2015-09-24 14:49] adriancole commented on #255
Thanks for the tips, guys. I'll give this a try and if need more,
raise/collaborate on Jackson side.

[2015-09-24 20:53] eamonnmcmanus commented on #277
Yes, this is a known restriction. The code example above should work but does not.

[2015-09-24 20:58] eamonnmcmanus commented on #276
We're very conservative about adding any complexity to the specification of AutoValue. I'm not sure I really see a compelling argument here. You always have the option of exporting a public API that is different from the abstract methods that AutoValue expects:

[code]

[2015-09-25 09:31] dballesteros7 commented on #277
@jbgi I usually agree with composition over inheritance but in this case all three classes are on the same package and I don't want to define an interface but rather make sure that it is clear where ArgsA and ArgsB differ for each specialized usage, by class A and B. It is cumbersome to have to always do something like ArgsA.getCommonArgs().getTheActualArgIWant() instead of being able to do ArgsA.

[2015-09-25 10:16] zkiss commented on #276
@eamonnmcmanus In my opinion that solution is "mechanical, repetitive, typically untested and sometimes the source of subtle bugs. *Sounds like a job for robots!*"

My reasons for requesting the feature are:
* with the proposed solution the method naming convention is not enforced by AutoValue's code generator (while set and no-prefixes are)
* Instead of 2, there are 3 things to do manually every

[2015-09-25 11:00] jbgi commented on #277
@dballesteros7 not always, just once:
[code]

[2015-09-25 11:27] dballesteros7 commented on #277
But then I would be re-writing a method for every arg from `CommonArgs` that I want exposed in `ArgsA`, something that inheritance gives me for free.

[2015-09-25 11:51] jbgi commented on #277
yes. for free. as well as headaches as soon as your domain model diverges from being a nice hierarchy.

[2015-09-25 12:11] jbgi commented on #277
What I mean is that inheritance may be fine in some isolated cases like yours but I'd rather not see support for it in auto-value, which would promote this "bad" practice.

[2015-09-25 13:28] tbroyer commented on #276
FWIW, I've seen `with` used with immutable objects to rather create a copy with a property having a different value: https://immutables.github.io/immutable.html#copy-methods & https://projectlombok.org/features/experimental/Wither.html
That said, it's possible to configure some generators (e.g. [Immutables](https://immutables.github.io/immutable.html#builder), with `@Style(init="with*")`) to outpu

[2015-09-25 13:53] PhilippWendler commented on #277
Is inheritance for value types really such a bad idea if the super class is abstract? As far as I remember Effective Java (I don't have it at hand), this is fine and problems only arise if there exist instance of both the super class and sub classes (because then for example equals() cannot be implemented sanely).

[2015-09-25 14:08] mttkay commented on #268
+1 on separate JARs. It's really confusing to see Guava classes appear all over the place in code completion, especially if they are dependencies to the processor. I just reviewed a PR where someone accidentally used a shaded Guava class, and this would crash at runtime because the dependency is merely part of the `provided` config.

[2015-09-25 14:23] zkiss commented on #276
Understood. I thought it was worth the suggestion :)

[2015-09-25 14:23] #276 closed

[2015-09-25 14:44] mttkay commented on #268
If anyone is interested in how to solve this:

- copy `@AutoValue` annotation over to your code base, preserving the package name
- remove `provided` (or worse, `compile`) dependency to auto/value
- add `provided` dependency on `javax.annotation:jsr250-api:1.0` (this makes the `@Generated` annotation available to the processor, otherwise it'll crash with a NullPointerException when trying to gener

[2015-09-25 14:51] JakeWharton commented on #268
And that assumes you have an [`apt` dependency][1] on auto/value (or some other means of putting it on the -processorpath only)? This is the approach that we are currently using :+1: Although for our case I did not need the generated annotation.

 [1]: https://bitbucket.org/hvisser/android-apt

[2015-09-25 15:34] mttkay commented on #268
Yes that assumes the apt dependency is still in place.

On Fri, Sep 25, 2015, 16:51 Jake Wharton <notifications@github.com> wrote:

[2015-09-25 18:29] eamonnmcmanus commented on #277
Having an ancestor shared between different `@AutoValue` classes is definitely a supported use case. We don't allow one `@AutoValue` class to extend another, though, for the reasons @PhilippWendler alludes to.

[2015-10-01 09:28] mttkay commented on #268
@JakeWharton about the NullPointerException when `@Generated` is missing. It only occurs in Android projects, and there was an issue for it actually: https://github.com/google/auto/issues/240

It might be due to differences in how the `apt` config works in either project flavor.

[2015-10-01 14:36] JakeWharton commented on #268
Got it. I'm using a deployed version of Ryan's extensions PR based on
master which is why I don't see it or need to include it.

On Thu, Oct 1, 2015 at 5:28 AM Matthias Käppler <notifications@github.com>
wrote:

[2015-10-01 15:01] mttkay commented on #268
Ah, makes sense. Good to hear this will be resolved in 1.2 then.

On Thu, Oct 1, 2015 at 4:36 PM Jake Wharton <notifications@github.com>
wrote:

[2015-10-08 19:55] CoatedMoose commented on #268
I am interested in this as well. I would also like to see a similar change made to auto-factory.

[2015-10-10 01:21] cgruber commented on #268
We're a little behind while I am working on our open-source tooling, but I
see no particular reason to not do this.  Unless Eamonn and/or Kevin have
objections, I'm fine with separating these.

On Thu, 8 Oct 2015 at 12:56 Andrew Crichton <notifications@github.com>
wrote:

[2015-10-20 11:48] jbgi commented on #263
forgot to close this. thanks!

[2015-10-20 11:48] #263 closed

[2015-10-20 11:56] jbgi commented on #277
@PhilippWendler @eamonnmcmanus @dballesteros7 Algebraic Data Types are a more flexible solution than inheritance for this kind of problem. Have a look at https://github.com/derive4j/derive4j to implement them in Java easily.

[2015-10-20 15:08] eamonnmcmanus commented on #277
@jbgi very nice!

[2015-10-21 22:29] mfulton26 opened #278 "AutoValue: Support Optional<T> similar to @Nullable"
I'd like to have "optional" value properties but instead of annotating my properties with `@Nullable` and then checking for `null` when using the property I'd rather use [`java.util.Optional<T>`](https://docs.oracle.com/javase/8/docs/api/java/util/Optional.html) and/or [`com.google.common.base.Optional<T>`](http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/base/Optional.html

[2015-10-21 23:02] eamonnmcmanus commented on #278
Yes, we already have a Google-internal issue tracking this.

[2015-10-21 23:03] eamonnmcmanus commented on #278
I should say that opinion seems to be against the idea of allowing null to mean setting the Optional to empty.

[2015-10-21 23:12] mfulton26 commented on #278
True, `Optional.empty() != null` and shouldn't. I was just hoping to avoid needing to specify multiple methods on the `Builder` for a single property... `abstract Builder nameFromNullable(String)`) seems odd to me (presently).

Out of curiosity (as I can't see the Google-internal issue tracking this) what are some of the other options? Define `abstract Builder name(String)` and `abstract Builder n

[2015-10-22 01:06] eamonnmcmanus commented on #278
I think specifying both `name(String)` and `name(Optional<String>)` would make good sense if you want to be able to say `name(Optional.empty())`, yes.

[2015-10-22 12:48] mfulton26 commented on #278
:thumbsup:

[2015-10-30 08:23] 573 opened #280 "Support annotations in generated field"
Let's say I have a class ExcelDto:
[code]

Now I wanted the generator to build an `AutoValue_ExcelDto` class, but with the field `tables` annotated like:

...
[code]
...

Is that possible, how to achieve this?

[2015-10-30 21:11] rharter opened #281 "toBuilder methods shouldn't be passed to extensions"
Currently, the toBuilder methods are passed to extensions as properties, since the context is constructed before the builder methods are checked.  These methods should not be sent to extensions as properties.

[2015-10-30 21:14] eamonnmcmanus commented on #281
Oops. :-)

[2015-11-04 08:35] jbgi opened #282 "[Value] Do not silently implements Serializable if one field is not serializable"
Ideally Auto-Value annotation processor should fail with an error if an annotated class implements Serializable but one of its field does not.

[2015-11-04 11:54] philipp-classen opened #283 "AutoValue should respect @Nullable annotations on types"
AutoValue generates non-null runtime checks for all fields that are not annoted as "@Nullable". At the moment, "@Nullable" annotations using  JSR 308 type annotations are ignored. Thus, non-null checks will be generated for fields which are intended to be nullable.

---

For example, the Eclipse "@Nullable" annotation looks like this:

[code]
Source: http://help.eclipse.org/mars/index.jsp?topic=/o

[2015-11-04 12:01] philipp-classen commented on #283
My colleague has an experimental patch to add support for type annotations. It uses the Java 8 API, but, in principle, it could be implemented in a Java 7 backward compatible way (using reflection).

We hope to find time to provide a pull request, so you can take a look at the idea.

[2015-11-04 15:41] eamonnmcmanus commented on #282
Feel free to reopen if I am misunderstanding this, but it seems like a very marginal case. Even if the type of a field does not inherit from Serializable, the runtime type might. So the check would have to be something like: if the `@AutoValue` class implements Serializable then there must be no field whose type is a final class that does not implement Serializable, unless the `@AutoValue` class a

[2015-11-04 15:41] #282 closed

[2015-11-04 15:59] eamonnmcmanus commented on #283
Yes, I have an internal issue tracking this. As you point out, the need to have the code work on earlier Java versions means it isn't trivial, but it shouldn't be all that hard either.

[2015-11-04 16:19] jbgi commented on #282
Yeah that was a real case where the check would have help avoiding a bug: a ```Serializable``` ```@AutoValue``` class had a not ```Serializable``` ```@AutoValue``` field.
I think it would be useful to have a warning if there is a field that is not of interface type and that does not implements ```Serializable``` . And an error in case it is a ```@AutoValue``` / or final class.

But then I also pla

[2015-11-04 17:57] mdekstrand opened #284 "Publish JavaDoc online"
I would appreciate it if the JavaDoc could be published online - perhaps under http://google.github.io/auto - so that it can be referenced from other generated JavaDoc. Mostly so that the `@AutoService` annotation becomes a nice link.

[2015-11-04 18:27] tbroyer commented on #284
https://www.javadoc.io/doc/com.google.auto.service/auto-service/1.0-rc2 ;-)

[2015-11-12 01:58] rharter commented on #131
This is currently (in SNAPSHOT) doable via extension.  Check out Square's [Redacted](https://github.com/square/auto-value-redacted) extension.

Redacted is all about excluding sensitive properties from `toString()`, but the same sort of thing (or perhaps the same extension with another feature) would work for `hashCode()` and `equals()`.

[2015-11-12 02:27] rharter opened #286 "AutoValue emits warning for properties even if they're consumed by Extensions"
The [current implementation](https://github.com/google/auto/blob/master/value/src/main/java/com/google/auto/value/processor/AutoValueProcessor.java#L656) of AutoValue throws the following warning in `methodsToImplement()` for any abstract methods that don't take any parameters and return a value before extensions have had the chance to

[code]

A valid test case should be the following, but there'

[2015-11-12 02:34] JakeWharton commented on #286
RE warnings asserts: https://github.com/google/compile-testing/issues/41

[2015-11-12 23:37] eamonnmcmanus commented on #286
This shows up in particular with Parcelable, where you can write an extension that implements the `describeContents()` method, but AutoValue will still warn about it. There's a sequencing problem here: the extension can claim the `describeContents()` method, so it won't be considered as defining a property called `describeContents`; but the warning currently happens before the extension gets a cha

[2015-11-12 23:48] rharter commented on #286
I agree with the sequencing, my thought was that we just have to move that validation after the properties are consumed by the extensions.

As for `CompilationErrorsTest`, I had considered that but noticed it is specifying the AutoValueProcessor directly. On second consideration I see that adding a test exception to the sources classpath should be enough for it to get picked up by the processor.

[2015-11-18 19:55] hgschmie commented on #249
This is actually a misunderstanding in dependency-convergence. If you want to fix it, the project running the dependency convergence needs to add a dependency management section to resolve this conflict.

This is IMHO not a auto value bug.

[2015-11-18 19:59] hgschmie opened #287 "can not have create and a builder at the same time."
this results in the create static method trying to call the `AutoValue_Foo` constructor which is now private because a builder is present.

the constructor should only be private if only a builder is present, but package private if other create methods are present.

Our use case is that there are places where a bean is created incrementally (from business logic code) and places where we want an un

[2015-11-18 22:41] eamonnmcmanus commented on #287
AutoValue can't tell if there is a static factory method. It doesn't require such methods to be called `create`, and it can't look inside the code of a method to see whether the method calls the `AutoValue_Foo` constructor. Having said that, I'm not sure there's a really strong reason for the constructor to be private when a builder is present. Maybe it could be package-private whether or not ther

[2015-11-19 02:37] lukesandberg commented on #249
I fixed by changing the auto pom... So I think this issue is moot

[2015-11-19 02:37] #249 closed

[2015-11-19 12:16] PierreBtz commented on #166
Hello,
Do you have any news on this issue?

Thanks

[2015-11-19 17:15] thehereward opened #288 "AutoValue: Adding @Valid attribute to getter results in error"
We want to annotate a getter on one of our classes with the @Valid annotation to allow cascading validation. AutoValue copies this annotation to the AutoValue class. This results in the following error message:

[code]

We are working around this by applying the annotation to the parameter in the factory method.

e.g.

[code]

It would be nicer if the @Valid were _not_ copied to the autovalue clas

[2015-11-19 17:23] JakeWharton commented on #288
There are equal (if not more) arguments for desiring annotations to be copied so this issue should be about figuring out how to configure the behavior in a declarative way that works for everyone.

[2015-11-19 18:14] kevinb9n commented on #287
It's extremely important that AutoValue be extremely easy to learn and
reason about, and I'm a little wary of confusion we could be introducing if
we do this. As just one example: what will users assume about whether the
generated constructor is calling their validation method or not?  Perhaps
we can deal with that, but I suspect other little wrinkles like that could
be hiding too.

On Wed, Nov 18

[2015-11-19 19:21] hgschmie commented on #287
@kevinb9n I understand the desire for simplicity. Right now, I can not have an explicit constructor (which would force callers to provide values for all the fields in the bean in an atomic fashion) *and* a build that would allow incremental construction and validation. So I resorted to having my create methods to use the builder which requires me to write the boilerplate code that I want to avoid.

[2015-11-19 19:22] hgschmie commented on #287
I assume you are opposed to a feature flag such as `@AutoValue(visibleConstructor=true)`, so I did not propose that. :-)

[2015-11-19 19:22] rharter commented on #288
I would argue there's much more need to have annotations copied than to
have them not copied, so I think copying annotations, at least as the
default behavior, is needed.

On Thu, Nov 19, 2015, 9:23 AM Jake Wharton <notifications@github.com> wrote:

[2015-11-19 19:36] eamonnmcmanus commented on #288
I assume we're talking about [javax.validation.Valid](https://docs.oracle.com/javaee/6/api/javax/validation/Valid.html) here. I don't see anything obvious about that that would allow AutoValue to guess that it shouldn't be copied. Other than having an explicit list of annotations not to copy, of course. As an alternative workaround, you could have a package-private alias for the property:

[code]

[2015-11-19 19:56] eamonnmcmanus commented on #166
Nothing to report, sorry. It's on my to-do list, but so are a lot of other things.

[2015-11-20 00:22] kevinb9n commented on #131
The following will appear in a revised version of the User Guide:

How do I...
**... ignore certain properties in `equals`, etc.?**

Suppose your value class has an extra field that shouldn't be included in
`equals` or `hashCode` computations. One common reason is that it is a "cached"
or derived value based on other properties. In this case, simply define the
field in your abstract class directly

[2015-11-20 00:23] kevinb9n commented on #131
imho, this is simple and natural and preferable to using an extension.

[2015-11-20 00:23] #131 closed

[2015-11-20 03:51] eamonnmcmanus commented on #166
I felt bad about leaving this unaddressed, so I do have a fix in the works. It turns out that Elements.getAllMembers doesn't help, because at least with javac it doesn't do the necessary type substitution for inherited methods. And Types.asMemberOf unfortunately runs into an [Eclipse bug](https://bugs.eclipse.org/bugs/show_bug.cgi?id=382590). The Eclipse compiler throws IllegalArgumentException wh

[2015-11-20 06:48] jbgi commented on #131
another solution would be to wrap the property inside a class (possibly package private) and use the following implementation of hashCode/equals for that class:
[code]
and then unwrap the property in a derived accessor.

[2015-11-20 09:35] PierreBtz commented on #166
Many thanks for this quick answer!!

[2015-11-20 09:45] elucash commented on #166
2cents: we managed to get it work in [Immutables](/immutables/immutables), essentially, using the combination of `Elements.getAllMembers` for Eclipse and `Types.asMemberOf` for Javac.

[2015-11-20 09:49] ltearno commented on #166
I also had to use this kind of tricks when developping hexa.binding
library...

I got on touch with the Immutables team, i think with you Eugène...

Thanks

Arnaud Tournier

Le ven. 20 nov. 2015 10:45, Eugene <notifications@github.com> a écrit :

[2015-11-20 22:27] eamonnmcmanus commented on #166
Thanks for the tip, @elucash! I had put together a fix that worked for methods inherited from superclasses, but not from superinterfaces because of the aforementioned Eclipse bug. But you are right: unlike javac, Eclipse does type substitution in the method return types from `Elements.getAllMembers`, so it's possible to use that as a backup when `Types.asMemberOf` fails. I've made a second fix alo

[2015-11-20 22:39] elucash commented on #166
Yep, it is extra mile to go. If not mention the Eclipse hack to get things in source order (fixed in recent ECJ version), we collect all the elements recursively in predictable linearization order using `TypeElement.getEnclosedElement` with respect to source order, then we match those elements with ones returned by `Elements.getAllMembers` for Eclipse otherwise we do `Types.asMemberOf` for Javac.

[2015-11-23 19:14] eamonnmcmanus commented on #287
I think @kevinb9n's point about validation is crucial. If you are creating an instance through a builder then validation happens in your `build()` method (which typically forwards to a generated package-private `autoBuild()`). If you are creating an instance through a static factory method that calls the generated constructor then validation happens in the static factory method. That's why you mus

[2015-11-23 21:57] hgschmie commented on #287
This is how I am doing it today. The problem is that this created method is manual work. Calling the constructor is not.

The current use is that we serialize & deserialize value classes from the wire (where constructor-only works fine) but also need to have a builder based construction in code.

I understand @kevinb9n argument; it is simply a bummer that I need to duplicate the effort manually. M

[2015-11-23 23:50] eamonnmcmanus commented on #287
Hmm. This seems like too special a case for us to warp the main API for it. It might make a good example of an [extension](https://github.com/google/auto/blob/master/value/src/main/java/com/google/auto/value/extension/AutoValueExtension.java). All that extension would do would be to render the constructor of the generated class visible. Without extensions, you have a hierarchy like this:

AutoValu

[2015-11-24 00:23] hgschmie commented on #287
Yes, I could do this as an extension. However, you would need to release a version with the Extension API in that case. :-) (1.1 does not have it).

[2015-11-24 00:33] hgschmie opened #290 "AutoValue has SOURCE RetentionPolicy"
Is there a deeper meaning behind this? Right now, this makes it really hard for tooling to look at code and do special things if a class is autogenerated. (e.g. I want to dynamically discover the correct getters to reflect on a auto generated bean).

As the use case:

A public bean A has a `public abstract String foo()` method. The AutoValue_A bean also has a `public abstract String foo()` method,

[2015-11-24 00:34] hgschmie commented on #287
I am cool with closing this (#287) and my pull request proposal (#289) once 1.2 with extension support has been released.

[2015-11-24 00:42] kevinb9n commented on #290
On Mon, Nov 23, 2015 at 4:33 PM, Henning Schmiedehausen <
notifications@github.com> wrote:

One of AutoValue's core values is that no one should ever need to care
whether a type was implemented using AutoValue or some other means.

Sounds like a general quirk with Java reflection. First question is, of
course, whether you can get away with setAccessible(true). But the other
generalized solution is

[2015-11-24 00:51] kevinb9n opened #291 "Every generated file should include a URL for more information"
It's important that anyone who comes across any generated file should be able to understand where it came from. imho, that means a URL reference.

* For an AutoValue generated implementation, the URL should be https://github.com/google/auto/tree/master/value.

* For a class generated by an AutoValue *extension*, the extension author should be compelled to supply this URL

* (others can comment re:

[2015-11-24 00:51] kevinb9n commented on #291
@rharter to consider the extension-specific part of this.

[2015-11-24 00:58] rharter commented on #291
I think this is a good idea.  Regarding extensions, since the extensions generate the file and AutoValue doesn't really know about or touch the contents of it I think the best we can do is make adding a url to the content of **@Generated** a convention, as opposed to enforcing it in any way.  Do you think adding it to the documentation around creating extensions (which we should probably create?)

[2015-11-24 01:01] eamonnmcmanus commented on #290
It is indeed a quirk with Java reflection. You don't need to identify the `@AutoValue` class to invoke the method. You just need to find any ancestor where a method with the same signature is visible. The method in question is public, so you can just use Class.getMethod on each public ancestor until you find one where it doesn't throw NoSuchMethodException. That logic will be widely useful. I've h

[2015-11-24 01:01] #290 closed

[2015-11-24 01:19] eamonnmcmanus commented on #291
There is a convention for the value of `@Generated` and it is not URLs. That might not matter at all to Kevin but it makes me a little bit sad to flout it. I notice though that the `value` member is actually a String[] so perhaps we could have [0] be the FQCN and [1] be the URL. There's also a `comments` member which could house the URL.

[2015-11-24 01:42] kevinb9n commented on #291
It just seems like a worthless convention to me.  It's annoying to find a
class name and still know nothing about where that class even came from or
how to find it.

On Mon, Nov 23, 2015 at 5:19 PM, Éamonn McManus <notifications@github.com>
wrote:

--
Kevin Bourrillion | Java Librarian | Google, Inc. | kevinb@google.com

[2015-11-24 03:05] JakeWharton commented on #291
I too generally agree with the worthlessness of the `value` member. Sadly its Javadoc is unusually harsh saying "MUST have the name of the code generator".

Another knock against `@Generated` would be that it's omitted in its entirety when the target classpath (aka Android runtime) does not contain the class (see `GeneratedDoesNotExistTest.java`).

[2015-11-24 15:44] rharter commented on #291
Perhaps, in light of the convention and Javadoc around @Generated it makes sense to make the convention a link in the Javadocs of the generated classes, which would also fit the normal java conventions better.

[2015-11-24 17:35] hgschmie commented on #290
@eamonnmcmanus The problem is not that the method is not public. It is public just fine. The instance is not. AutoValue_Foo is package private.

Given @kevinb9n's comment, it seems that this is an ideological issue, so I won't bother any further; we will simply use a patched version of autovalue.

[2015-11-24 17:54] kevinb9n commented on #290
Hang on. Before starting your own fork, have you *tried* our solution?

We're aware your method is public and your class is not. You expect to be
able to call the method because it also exists on *some* supertype
that *is* public.
Cool: so just find that class, and call it.

On Tue, Nov 24, 2015 at 9:35 AM, Henning Schmiedehausen <
notifications@github.com> wrote:

--
Kevin Bourrillion | Java Libr

[2015-11-25 16:44] facboy commented on #277
@eamonnmcmanus I think this doesn't work entirely correctly in 1.1, or at least the behaviour is unintuitive.  In the docs it states that the generated constructor should match the order that the abstract accessors are declared in, but if i have

[code]

and

[code]

The generated constructor I get is

[code]

which doesn't match what I would expect.  Shouldn't it be `AutoValue_MoreArgs(foo, bar,

[2015-11-25 21:39] eamonnmcmanus commented on #277
I tried using those exact classes and I see the constructor with parameters in the order I would expect: foo, bar, moreFoo. Are you using Eclipse by any chance? We've had problems with parameter ordering there because it didn't follow the annotation processing spec. Those should be fixed as of Eclipse 4.5, though.

[2015-11-26 15:15] facboy commented on #277
Intellij...with the eclipse compiler actually, i think, so that would make sense.

[2015-11-26 22:00] eamonnmcmanus commented on #277
IntelliJ uses javac by default but can be configured to use ECJ (the Eclipse compiler).
https://confluence.jetbrains.com/display/IntelliJIDEA/Compiler
Personally I would recommend against that because ECJ is not very well maintained.

[2015-11-27 09:48] facboy commented on #277
True, I use javac for 'real' builds but for IDE dev work ECJ is quite convenient.

[2015-11-27 21:47] eamonnmcmanus commented on #277
Feel free to log a separate bug about the behaviour you are seeing. If you have a way of knowing which ECJ version IntelliJ is using that would be very helpful. With versions prior to the one shipped with Eclipse 4.5, there was a bug where methods were sorted into alphabetical order within each class, instead of the source-code order. That looks like what you are seeing; you could try some experim

[2015-11-28 09:16] facboy opened #292 "Constructor parameters generated in incorrect order when using ECJ"
I think the constructors are not generated correctly when an ancestor class is used in 1.1, together with ECJ 4.4 in Intellij.  In the docs it states that the generated constructor should match the order that the abstract accessors are declared in, but if i have

[code]

and

[code]

The generated constructor I get is

[code]

which doesn't match what I would expect.  Shouldn't it be `AutoValue_Mo

[2015-11-28 09:16] facboy commented on #277
OK I raised #292.

[2015-11-30 14:11] philipp-classen commented on #283
Please take a look at the patch in pull request #293

[2015-11-30 17:29] kevinb9n commented on #131
@jbgi Notably, implementing those eq/hc methods is no different from what you'd get by putting @AutoValue on the new auxiliary class (since it wouldn't have any abstract methods, those are approximately the eq/hc implementations you'll get).

So it turns out basically the same as the examples I illustrated above, but with a separation into 2 classes that I'm not sure really accomplishes anything?

[2015-11-30 17:58] jbgi commented on #131
@kevinb9n it address the 'problem' of the field not being final, plus it allow it to be part of the generated toString... but yeah... not much.

[2015-12-01 00:15] kevinb9n opened #294 "Implement abstract "with-" methods in the value class"
It is a somewhat well-known pattern that a "withPropertyName(...)" method in an immutable class returns a copy of that instance with only that one property changed.

Users can write these themselves, but:
- It's really gross if you're not using the builder option
- It's also gross just that there are two different ways you have to do it based on whether you use a builder or not
- And we should not

[2015-12-01 07:48] jbgi commented on #294
:+1: :+1:
"with-er" is the bare minimum to make functional programming in Java a tiny bit practical in business-related code.

[2015-12-01 08:57] tbroyer commented on #294
When using builders you could also have a way to create/init a builder from a value and use the builder setters to overwrite values.

That said, it looks like this could be done as an extension, right?

[2015-12-01 13:27] rharter commented on #294
That's a good point, this could certainly be done with an extension.

On Tue, Dec 1, 2015, 2:57 AM Thomas Broyer <notifications@github.com> wrote:

[2015-12-03 20:29] cgrushko commented on #187
Chris, I didn't understand what are the plans for this issue.
I'm particularly interested in transferring over Bazel's @ThreadSafety.Immutable annotation.
(https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/concurrent/ThreadSafety.java)

[2015-12-07 15:43] cpovirk commented on #187
I am personally still a fan of special handling for `@GwtIncompatible` (which involves looking at enclosing classes). This is probably mostly because it solves *my* problem :)

I do think that there's at least some reason to be concerned about copying *all* annotations from the abstract class. For example, if we copy `@AutoGson`, will the `@AutoGson` processor try to process both the abstract clas

[2015-12-07 15:59] cgrushko commented on #187
As usual, I worked around the problem in Bazel by getting rid of the annotation.
I imagine we can add a "propagated_annotations" attribute to @AutoValue.
If this seems clean enough, I'll keep this in mind next time I run into this, and might actually send a patch :)

[2015-12-09 03:11] rharter commented on #286
Because of the way [CompilationTestErrors](https://github.com/google/auto/blob/master/value/src/test/java/com/google/auto/value/processor/CompilationErrorsTest.java#L259) compiles the source, I'm not sure how I can provide a test extension that the AutoValueProcessor will be able to pick up.  I'd presumably need to put the source on the classpath, but then also have the META-INF resource that tell

[2015-12-09 22:03] eamonnmcmanus commented on #267
This should be fixed now.

[2015-12-09 22:03] #267 closed

[2015-12-09 22:05] eamonnmcmanus commented on #254
I am planning to make it an error for a primitive property to be `@Nullable`.

[2015-12-10 00:32] eamonnmcmanus commented on #286
Perhaps add logic to AutoValueProcessor that consults `processingEnv.getOptions()` to get the name of one or more classes to be added as an extension? Then you could pass
`-Acom.google.auto.value.ExtensionClass=com.whatever.ThingExtension` as a compiler option. This could possibly also replace the constructor that takes an `Iterable<? extends AutoValueExtension>`.

[2015-12-17 10:58] mkaulig opened #296 "AutoFactory omits Provider in constructor call"
The following code generates a factory which does not compile due to a wrong parameter in the constructor call.

[code]

The create method in the generated factory expects a parameter of type `Child` instead of `Provider<Child>` and calls the constructor with the wrong parameter.

[code]

This bug seems to be only triggered when using an instance of javax.inject.Provider.

[2015-12-17 12:08] mkaulig opened #297 "AutoFactory: Composition of factories broken"
When referencing a auto generated factory in another auto generated factory the reference is not fully qualified and thus can not be resolved. Here is an example:

[code]

[code]

The reference to `BFactory` from `AFactory` is not fully qualified which cannot be resolved:

[code]

compilation error:

[code]

[2015-12-30 05:42] rharter commented on #286
Correct me if I'm wrong, but that would require a not insubstantial change to the Processor simply for the sake of this style of test.  We still need to use the `ServiceLoader` to find extensions since that leads to super easy extension additions by users, so this would mean we'd have to append that list with one coming from the compiler options, simply to enable a test due to a shortcoming of com

[2015-12-30 18:07] artem-zinnatullin commented on #287
We have valid reasons (I think so :smile_cat:) to have both `create()` and `Builder` for one entity: an entity that can be created manually and automatically. Same as @hgschmie but different argumentation.

**Why we want to have `create()`:**
To prevent unneeded memory allocations, GC pressure and tons of methods calls which need to be done via `Builder`. In our case, it's JSON deserialization and

[2016-01-02 20:27] hgschmie opened #300 "Provide a better way to tell if a builder property has been set"
One of the nice things in the builders for auto value is being able to preprocess the values in the builder before returning the bean as described in https://github.com/google/auto/tree/master/value#other-preconditions-or-preprocessing. It also states that "Sometimes it may be more convenient to consult the value in the builder before calling autoBuild()."

Consider the following bean which has tw

[2016-01-02 20:39] hgschmie commented on #278
Any progress planned here? I am trying to adopt auto value and not being able to deal with Optional<T> properties without glue code as described by @mfulton26 is definitely hindering it.

[2016-01-03 05:02] hgschmie commented on #300
See https://github.com/hgschmie/autovalue for example code. The examples above are the `VanillaBean`, the only working variant (passing all tests) is the `NullableBean`.

[2016-01-12 18:06] #166 closed

[2016-01-14 13:28] eleventigers commented on #294
I am attempting to implement "wither" extension however I hit this block: https://github.com/google/auto/blob/6d863c7ef1cefd5b272889bf51453d5f7c495c42/value/src/main/java/com/google/auto/value/processor/AutoValueProcessor.java#L654

The processor does not consider methods with parameters as implementable. How would you around this limitation?

[2016-01-14 13:53] tbroyer commented on #294
It looks like a `toBuilder()` would work here (at the expense of creating a new object at runtime compared to withers; amortized as soon as you want to change more than one value though)

[2016-01-14 14:04] gabrielittner commented on #294
That doesn't stop you from implementing those methods in an extension. As an example `auto-value-parcel` implements this abstract method `void writeToParcel(Parcel dest, int flags)`.

[2016-01-14 14:40] eleventigers commented on #294
@gabrielittner it does not stop me however I would like to get a method such as `public abstract Test withA(String a)` in the list of `ExecutableElement` from the `Context`. This is in order to read the method's`TypeParameterElement`(`String a`) so I can easily implement appropriate method without much hacking.

[2016-01-14 17:02] gabrielittner commented on #294
I've created a quick implementation https://github.com/gabrielittner/auto-value-with

[2016-01-14 17:23] eleventigers commented on #294
@gabrielittner awesome! It would be nice if any annotations and modifiers were retained (not force `with` methods to be `public`).

[2016-01-14 19:15] rharter commented on #294
@eleventigers Check out @gabrielittner's [auto-value-cursor implementation](
https://github.com/gabrielittner/auto-value-cursor/blob/master/auto-value-cursor/src/main/java/com/gabrielittner/auto/value/cursor/AutoValueCursorExtension.java#L43).  The `applicable()` method shows how he was able to get the `ExecutableElement` from the context, complete with modifiers.

The AutoValue code you linked to

[2016-01-14 21:19] gabrielittner commented on #294
@eleventigers Changed it. If you find anything else feel free to open an issue.

[2016-01-19 20:32] hgschmie commented on #300
more than two weeks passed and not a single comment? @eamonnmcmanus @kevinb9n  ?

[2016-01-19 21:29] eamonnmcmanus commented on #300
If I understand correctly, the proposal is for `getFoo()` in a builder to return null if the `foo` property has not been set, rather than throwing an exception as at present. But what about primitive properties? Would we want to silently return say `0.0` or `false` for a `double` or `boolean` property that has not been set? That feels strange. I think the right solution is the one proposed in #278

[2016-01-19 22:38] hgschmie commented on #300
Yes, as you point out in your code example, I want to have access to the "raw" state of the property in the builder without having the getter penalizing me with an IllegalStateException. Having an `Optional<T>` getter for a property of `T` is fine, but it will get a bit awkward because Beans with "normal" attributes and "optional" attributes would (should) look the same in the Builders:

[code]

a

[2016-01-19 22:38] hgschmie commented on #300
I have to admit that simply closing this with "look somewhere else" feels a bit rude to me.

[2016-01-19 22:40] hgschmie commented on #278
Let me add my second comment here as you chose to simply close #300 without actually thinking it through:

Yes, as you point out in your code example, I want to have access to the "raw" state of the property in the builder without having the getter penalizing me with an IllegalStateException. Having an `Optional<T>` getter for a property of `T` is fine, but it will get a bit awkward because Beans

[2016-01-27 22:51] eamonnmcmanus commented on #300
Sorry, I think I got confused between the issues that are here on github and the ones we have on our internal issue tracker. There is not in fact an issue here covering how builder property values might be consulted without getting IllegalStateException, and I think this one could reasonably serve that purpose. #278 in fact just proposes to special-case `Optional<T>` so that properties of that typ

[2016-01-29 10:22] rsertelon opened #303 "AutoValue: Extensibility of library to generate side classes"
We use AutoValue in many of our (JAX-RS) APIs and find it really useful.

As our DTOs are sometimes used by GWT applications, we annotated them with the provided `@GwtCompatible(serializable = true)` annotation.

The serializers generation is great for GWT RPC, but we would like to use the Errai framework that has a nice JAX-RS client implementation and its own Marshalling API.

Do you think AutoV

[2016-01-29 13:06] rharter commented on #303
I'm working on something similar for Gson, with an added factory class outside of AutoValue that references the AutoValue generated classes. The way I accomplish this is by creating an extension to generate the appropriate intermediate classes, but then also having a separate AnnotationProcessor in the extension package that will generate the additional classes. This provides a nice separation of

[2016-01-29 13:37] tbroyer commented on #303
@rharter What if `AutoValueExtension.Context` also exposed the `Filer`? An extension could then generate the additional class in its `applicable(Context)` method and then return false if it doesn't need to generate an intermediate class.

The alternative (which works today with no modification to AutoValue) is to "simply" write an annotation processor for the `@AutoValue` annotation, completely in

[2016-01-29 14:11] rharter commented on #303
@tbroyer Filer is technically exposed via `AutoValueExtension.Context` since we expose the `ProcessingEnvironment`, so you could simply call `context. processingEnvironment().getFiler()` and away you go.

You second suggestion is exactly what I'm using in my current work on [auto-value-gson](https://github.com/rharter/auto-value-gson) to generate a single `TypeAdapterFactory` for all generated cla

[2016-01-29 14:28] tbroyer commented on #303
Ah right. I saw `ProcessingEnvironment` but somehow thought that it'd only provide the elements/types information; but indeed it also exposes the `Filter` (and `Messager` and options).

[2016-02-12 08:02] foxylion commented on #297
Any updates on this? I'm having the same issues.

[2016-02-12 08:03] foxylion commented on #296
Any updates on this? I'm having the same issues.

[2016-02-16 15:32] artem-zinnatullin commented on #287
Any update on this (please)?

[2016-02-16 23:45] eamonnmcmanus commented on #287
We hope to have a 1.2 release with provisional support for extensions Real Soon Now. I say "provisional" because we expect that the extensions API will change later and extensions may need to be adjusted to work with subsequent releases.

[2016-02-17 01:36] boliu-mobile commented on #255
anyone has solution?

[2016-02-17 03:24] rharter commented on #287
@eamonnmcmanus Are there planned changes, or just expecting that there might need to be some?

[2016-02-18 15:29] eamonnmcmanus commented on #287
Expecting that there might need to be some.

[2016-02-18 21:32] aozarov opened #305 "auto-service maven configuration doc is using the compile scope"
auto-service maven dependency is marked as optional (and using the default compile scope) as oppose to using provided scope (as done for auto-value)

[2016-02-18 21:33] aozarov commented on #305
/cc @cgruber

[2016-03-01 10:48] jzillmann opened #306 "Builder chaining"
I want some of my builders not to expose properties setter for complex properties but the builders for those properties itself. This is the same thing you guys did for the guava immutable collections (https://github.com/google/auto/commit/0c2f481daabe4645b4aeac340b31f1b4d8022d09) but for any kind of builder.

Now the great thing is i can already do this! My code looks like this:

[code]

Now inste

[2016-03-01 15:46] eamonnmcmanus commented on #109
This was fixed internally on 18 June 2014 but I forgot to close the external issue.

[2016-03-01 15:46] #109 closed

[2016-03-01 16:20] eamonnmcmanus commented on #306
We have a similar issue internally. I'm copying its text here:

### BEGIN QUOTE
Today, you can write something like this:

[code]

The return type of `stringsBuilder()` must be exactly `ImmutableSet.Builder<String>`. The proposal is that, instead, it could be any type `MyBuilder` which has these properties:

1. it has a visible no-arg constructor (for use in the generated `AutoValue_Foo.Builder()`

[2016-03-07 04:27] ben-manes commented on #124
Just ran into this too. Usually works great, but refactoring of the package structure triggered this bug. The workaround is okay, but annoyingly verbose.

[2016-03-09 09:14] rsertelon commented on #303
Thanks for your answers.

I see that we can use the existing Extension mechanism, but it seems a bit dirty as it was not really designed to generate side classes but rather sub-classes.

I will try to do as @rharter suggested, but I really think that a dedicated extension mechanism would be great :)

[2016-03-10 12:20] cjp39 commented on #99
What was the result of this discussion at Google?

If this issue is still open for discussion, I'd like to note that declaring classes **final** was only listed as the _easier_ approach to prohibiting extension in Effective Java; making constructors private is also valid. In this case, the unfortunate side-effect of declaring this generated API final is that you discourage people from using `AutoF

[2016-03-10 12:25] cjp39 commented on #99
Oh, and I've just realised there's an `allowSubclasses` property on `@AutoFactory` that presumably removes the `final` keyword. So, I guess this can be closed? Unless there was a plan to use `@Inject`-annotated static factory methods even when `allowSubclasses` was false?

[2016-03-10 12:28] cjp39 opened #307 "Document AutoFactory parameters in README"
https://github.com/google/auto/tree/master/factory doesn't document the parameters available on AutoFactory, meaning at least three people (including me 😀) have totally missed them. It would be great if the README could cover them briefly.

[2016-03-10 13:45] tbroyer commented on #99
This was fixed in e0e2394ec33cb3d58e39fa142f138fefd517b1a3 BTW; and it's properly documented in the javadoc https://static.javadoc.io/com.google.auto.factory/auto-factory/1.0-beta3/com/google/auto/factory/AutoFactory.html#allowSubclasses-- ;-)

[2016-03-10 20:28] ronshapiro commented on #307
Want to send a PR?

[2016-03-13 00:51] CraigJPerry opened #308 "Is It Safe To Share AutoValue types With Clients?"
Hey Guys,

Are AutoValue objects designed to be safely shared with clients of my library or are they supposed to be restricted for internal only use?

E.g. If i give a client an object of an AutoValue type i made, i should assume they can still change the value without me knowing?

[code]

[2016-03-13 02:25] tbroyer commented on #308
Would adding a package-private zero-arg constructor prevent subclassing outside the package?

Also, if you document that the contract of the class is to be immutable and a “client” implements it as mutable, then it's breaking the contract and anything could happen. Same is true for implementations of `equals` and `hashCode`: even if another implementation is immutable but has an incompatible imple

[2016-03-13 02:53] JakeWharton commented on #308
The README recommends the package ctor :+1:

On Sat, Mar 12, 2016, 9:25 PM Thomas Broyer <notifications@github.com>
wrote:

[2016-03-13 06:28] eamonnmcmanus commented on #308
In the example, the classes are package-private, which means that their default constructors are too. I'm not sure I really understand the original question. If the classes were public, we do certainly recommend adding a package-private constructor, which means that, when operating within normal Java rules, "malicious" code outside the package can't subclass it. But could malicious code be added t

[2016-03-16 12:42] rkraneis opened #309 "Nullness annotations of checker framework are not copied"
checker-frameworks annotations are not copied to the implementation classes

I've added tests for findbugs (works; only for reference) and checker-framework (fails) https://github.com/rkraneis/auto/commit/7e6244f7c265fd082e923a39228ff89a1f561be8

[2016-03-16 16:37] eamonnmcmanus commented on #309
This is a bug about AutoValue, right? (google/auto also includes other projects such as AutoFactory)

I believe this is a dup of #283, for which there is a patch #293 that we haven't yet integrated.

[2016-03-16 16:37] #309 closed

[2016-03-17 02:43] kenzierocks commented on #200
I'd like for the aforementioned fix to become present, as I just ran in to this error again today. As Mars has landed, I assume the fix is now in mainstream Eclipse.

[2016-03-18 22:40] eamonnmcmanus commented on #200
I'm not sure I'll have time to figure out how to do that properly (detect Eclipse version ≥ 4.5), but a simple workaround is to change [this line](https://github.com/google/auto/blob/master/value/src/main/java/com/google/auto/value/processor/EclipseHack.java#L171) so it catches any Exception and not just IOException. I'll look into getting that in.

[2016-03-21 08:46] msfe opened #310 "Update Maven instructions"
In the readme.md you should update your Maven instructions.

${version} is deprecated and should be updated with ${project.version}. Changed it up below:

<dependencies>
  <dependency>
    <groupId>com.google.auto.service</groupId>
    <artifactId>auto-service</artifactId>
    <version>${project.version}</version>
    <optional>true</optional>
  </dependency>
</dependencies>

[2016-03-21 09:30] tbroyer commented on #310
`${project.version} is not appropriate: you don't want to use your own project's version as the version for the auto-service dependency. The `${version}` placeholder in the README is just a way to communicate that you should provide the version of the dependency (i.e. don't put a version in the README that would need to be updated every time a release is cut). Possibly it could use`${auto-service.

[2016-03-21 11:32] msfe commented on #310
Oh, sorry about that. Then i understand how it's supposed to be used, the
notation got me confused though so I would still prefer an update as you
described.
On Mar 21, 2016 10:30 AM, "Thomas Broyer" <notifications@github.com> wrote:

[2016-03-21 15:54] jarettmillard commented on #254
@eamonnmcmanus Is there a possibility that an `@Default` annotation will ever be added? I realize that builders are the chosen way to set default values, but API model (de)serialization is a huge use case for AutoValue extensions. For objects that are only consumed and never instantiated directly, writing a builder just to set optional fields makes for a lot of repetition to do something that shou

[2016-03-21 17:38] eamonnmcmanus commented on #254
@jarettmillard could you give a short example of the sort of thing you are talking about, and how `@Default` might address it?

[2016-03-21 18:33] #200 closed

[2016-03-22 16:05] rharter commented on #202
Now that we have our RC1, do you think this is completed and can be closed?

[2016-03-22 18:20] artem-zinnatullin commented on #268
Any updates on this? Will be great to have separate jars in 1.2-rc2!

[2016-03-22 18:39] eamonnmcmanus commented on #268
We might or might not split the artifacts for 1.2, but the urgency of doing so is much less since _all_ dependencies have been shaded with a `$` before the class name.

[2016-03-22 22:54] eamonnmcmanus commented on #202
Yes. As you know, there's further work to be done on the API. I'm not forgetting the work you have already done, but I'd like to get 1.2 out before integrating it.

[2016-03-22 22:54] #202 closed

[2016-03-26 12:39] Rainer-Lang commented on #281
Any solution?

[2016-03-28 19:41] Faytth commented on #131
@kevinb9n I believe @jbgi's approach with separation into 2 classes also works for AutoValue.Builders, whereas the IgnoreExample above wouldn't. Unless I'm missing something, there's no way to repopulate these ignored fields when using toBuilder() without the 2 class separation or an extension.

[2016-03-29 03:07] eamonnmcmanus commented on #131
This should work for builders:

[code]

It's a fair amount of noise, but then the wrapper-class approach has its own share of noise too.

The key property being exploited here is that the `toBuilder()` method in the `@AutoValue` class and the `build()` method in the `@AutoValue.Builder` class are identified based on being abstract and having the right return type. Their names are only conventional

[2016-03-29 16:50] facboy commented on #300
As an alternative, is it possible to allow builders to have 'concrete' implementations of setters or getters for a property?  At the moment if auto-value doesn't find an abstract setX method on the builder then it complains, could it instead just use a concrete getX/setX with the correct signatures?

[2016-03-29 17:34] jarettmillard commented on #254
I submitted a [pull request](https://github.com/rharter/auto-value-moshi/pull/19) to auto-value-moshi for a similar feature, but it was rejected with a few good reasons. If there was official support for `@Default` those reasons shouldn't apply anymore. In the case of multiple extensions that all need default values, having one official way to indicate them seems to me like it would work out bette

[2016-03-29 18:53] eamonnmcmanus commented on #254
I'm afraid I'll have to ask you to spell out your use case for me. Deciphering it from your PR is a lot to ask of me and of other people looking at this issue. Could you give an example of what you would like users to be able to write in an `@AutoValue` class and how it would affect the generated code? Would this be something that only extensions would use or that the base builder support would al

[2016-03-29 18:53] #254 closed

[2016-03-29 21:00] eamonnmcmanus commented on #300
@facboy that's an interesting idea, which I'll have to think about more. Taking the original example (displayName defaults to userName unless it has been set explicitly), if I'm understanding correctly, it would be something like this:

[code]

The generated `autoBuild()` method would call `displayName()` instead of using its own private `displayName` field.

Contrast with the `Optional` solution:

[2016-03-30 06:29] hgschmie commented on #300
with the upcoming 1.2 release, any change that this will make it in? Given that this project releases every 6-12 months, I would otherwise have to fork and hack my own version of autovalue.

[2016-03-30 08:42] facboy commented on #300
@eamonnmcmanus to be honest, I naively thought that's just how it would work :).  In the 'main' AutoValue'd class you can specify equals/hashCode and then they won't be generated.  I assumed that if I specified a getter/setter in the abstract builder class then the generated class would just use those instead.  So perhaps it fits nicely with the existing behaviour too?

[2016-03-30 15:50] eamonnmcmanus commented on #300
Well, it's slightly more complicated, in that there can be two methods (getter and setter) and it's possible that one of them would be concrete and the other abstract. I think what we have is this:

 | abstract getter | concrete getter
-------|-------|------
abstract setter | current behaviour | not allowed (1)
concrete setter | getter overridden (2) | getter called from generated `build()`

If th

[2016-03-30 16:13] facboy commented on #300
I think what would be nice from my point of view would be that if auto-value found a matching getter method on the builder then it would assume that the abstract class would be entirely responsible for returning a value from that getter.  I.e. auto-value wouldn't validate that there was a matching setter, it would find a matching concrete getter and in effect say, 'Hey, you're on your own now,' an

[2016-04-01 10:30] facboy opened #316 "Extensions should be able to trigger MissingTypeException, AbortProcessingException"
I think these would be useful as extensions may want to be able to defer or abort processing of a particular type.

[2016-04-01 23:13] eamonnmcmanus commented on #316
I'm inclined to agree, but I think we'd need to see a motivating example.

[2016-04-02 01:26] facboy commented on #316
Hmm...well, for various reasons I've written an extension that generates a builder that's more tailored to my use case.  In much the same way that the built-in 'builder' code aborts at times (mostly invalid/incompatible signatures), I'd like to be able to report an error and abort processing of the given class.  I can throw a RuntimeException of course, but that ends up with a nasty-looking stack

[2016-04-02 03:06] eamonnmcmanus commented on #316
Well, you can emit an error message using context.processingEnvironment().getMessager(). That doesn't allow you to abort processing of the current class, but do you actually want to do that?

[2016-04-04 14:02] facboy commented on #316
I certainly want to stop processing my extension.  So I could throw an error from somewhere, catch it in the top-level generateClass(), but if I return null or empty string, AutoValue complains that no source code was returned and I get an additional error from that.

[2016-04-04 15:13] eamonnmcmanus commented on #316
I see. As a workaround you could obviously just generate a dummy class that conforms to the requirements (has required superclass, has required constructor), but that's obviously clunky. Perhaps there should just be a specific exception that you can throw from an extension. AutoValueProcessor would catch it and possibly emit an error message like "AutoValue extension FooExtension failed: blargle b

[2016-04-04 15:24] eamonnmcmanus commented on #300
I am interested in your idea that a concrete getter means that the abstract Builder class is taking care of that property itself. It is simple and straightforward. I think I'd like to find another use for it than the subject of this issue. I feel as if there probably are such uses but I'm not finding them right now.

Concerning your second paragraph, we're thinking of generalizing the existing fea

[2016-04-04 16:17] facboy commented on #316
Yeah that would work.  Possibly provide the ability to specify the element that failed too, like the existing ErrorReporter.  It would save the extension having to report its own error, unless it wanted to do something really funky that was outside the scope of the basic error reporting.

[2016-04-05 19:06] rharter commented on #281
Since we keep pointing people here when they report this issue in the extension repos, the workaround is to implement the `toBuilder` method manually until this is fixed.

[code]

[2016-04-06 19:51] cgruber commented on #272
This is working as designed.  This is a false economy.  AutoService generates metadata about what concrete classes the ServiceLoader should load up, and it can't instantiate abstract classes, so it's not an appropriate usage.

[2016-04-06 19:51] #272 closed

[2016-04-06 21:26] cgruber commented on #241
Fixed in #304

[2016-04-06 21:26] #241 closed

[2016-04-06 21:29] cgruber commented on #81
Apparently it's not possible, since we pushed 1.2.  Sorry, I've not been involved in the content of AutoValue, just the technical work of releases and syncing, etc.  We should triage this and get it addressed.

[2016-04-06 21:33] #117 closed

[2016-04-07 06:51] arend-von-reinersdorff commented on #241
The filename is now correct.
But the install build step still fails, now with a different error:
https://travis-ci.org/google/auto/jobs/120990260#L137

I would suggest removing the "--fail-never" argument as it hides the build errors.

[2016-04-08 09:14] anuraaga opened #318 "AutoFactory: Add a way to inject directly, without Provider"
Currently it's only possible for factory parameters to be injected as Providers. In certain DI frameworks (e.g., spring), Provider#get can be slow (lots of reflection) or even dangerous (dependency graph isn't validated until runtime).

Make sense to add this?
[code]

Could also be an option to Provided but naming seems like it'd be clunky.
[code]

[2016-04-09 11:14] aminabs opened #319 "Problem using AutoService"
Hi,
I have a simple maven project and want to use **AutoService** annotation to generate serviceloader related files. I have followed what you provided on the project's readme file, but I can't find any generated files under meta-inf directory. In fact there is no services directory under the outpur directory of my project and hence, nothing in the final artifact (.jar output).
I've simply added t

[2016-04-09 11:47] aminabs commented on #319
Well, It seems to be a bug with Netbeans or Maven 3.3.9 (which I am using) since it works after performing the following change in the pom -- although I reverted the change it is still working!
I just added maven-compiler-plugin (version 3.5) to the pom.xml and perform a clean build. Then, just remove the plugin and it is still working.
The issue might be related to my maven-compiler-plugins' vers

[2016-04-09 11:47] #319 closed

[2016-04-11 13:05] vanniktech opened #320 "AutoValue: Support String[] array"
Right now it is not supported as only primitive arrays are supported. Would love to have support for String[] aswell.

If you're also interested in this I could start an implementation.

[2016-04-11 15:01] eamonnmcmanus commented on #320
We deliberately don't support object arrays, including `String[]`. The reasons are [here](https://github.com/google/auto/blob/master/value/userguide/howto.md#object_array). Do you have a use case that isn't addressed well by using a `List<String>` instead of a `String[]`?

[2016-04-11 21:36] vanniktech commented on #320
Yeah I can understand those reasons. Unfortunately I'm on Android where I don't have Guava Included hence I don't get `ImmutableList` etc and therefore `String[]` in this case is easier. The method `List<String> myStrings()` everyone can call and modify the contents of it.

If AutoValue would support `String[]` array and return a copy each time you call the method the class is still immutable.

[2016-04-11 21:39] JakeWharton commented on #320
Everyone can modify the contents of String[] as well. You can use
unmodifiableList with a defensive copy in your create method for an easy
immutable version of a list.

On Mon, Apr 11, 2016, 5:36 PM Niklas Baudy <notifications@github.com> wrote:

[2016-04-11 21:46] kevinb9n commented on #320
The point is that with an array, AutoValue would *know* how to just insert
'.clone()' all over the place. Unfortunately, it has been established that
automatic array cloning on get is NOT what most users want, and it was
backed out some months ago. We tried pretty hard to argue for it but our
arguments clearly didn't hold water with users.

Niklas: for what it's worth, Guava does support Android..

[2016-04-11 21:54] vanniktech commented on #320
To prevent anyone from modifying `String[]`, AutoValue could use `Arrays.copyOf()`. `Collections.unmodifiableList()` would work though it kinda defeats the purpose of AutoValue in that point because you have to remember to either use `ImmutableList` or `unmodifiableList` to get immutable auto values.

For now I'll stick to `unmodifiableList` though `String[]` support would still be nice in my opin

[2016-04-11 22:10] kevinb9n commented on #320
On Mon, Apr 11, 2016 at 2:54 PM, Niklas Baudy <notifications@github.com>
wrote:

Same exact thing as .clone() discussed above.

--
Kevin Bourrillion | Java Librarian | Google, Inc. | kevinb@google.com

[2016-04-11 22:38] #320 closed

[2016-04-13 15:45] CoatedMoose opened #321 "Version mismatch in root README and jcenter"
The README in the project root says the current version of auto-factory is `0.1-beta3`, however, `1.0-beta3` is what is listed on [bintray](https://bintray.com/bintray/jcenter/com.google.auto.factory:auto-factory). Is the README incorrect, or did someone upload an incorrectly version'd jar/pom?

[2016-04-13 15:46] CoatedMoose commented on #97
This looks to be fixed, but the root README that lists the version doesn't seem to match any version deployed to a repository. See #321.

[2016-04-18 13:02] riwnodennyk commented on #275
We may do it even simpler:

[code]

[2016-04-18 17:17] eamonnmcmanus commented on #275
@riwnodennyk, I think that is equivalent in practice to this:
[code]

which is how we usually recommend structuring it. But I believe the original poster wanted to compute a default value only if one is not specified explicitly. If you define an initial value when the Builder is created then you can't know whether another value was provided later.

[2016-04-19 04:38] anuraaga commented on #318
@gk5885 Hey - let me know if either of these approaches sounds ok, and I can send a PR. Going back to writing manual factories is painful ;)

[2016-04-19 10:51] facboy commented on #300
thinking about it a little more, maybe methods with a annotated as supplying a particular field, rather than just getX, as otherwise it may restrict the interface that people could define on their builder (eg they may want a getX that behaves independently of the logic used to supply a value to autoBuild/build).

[2016-04-19 17:45] shtratos commented on #288
I've also encountered this issue and I used this workaround:
[code]

This doesn't affect `toString()` or `Builder`.

The only downside is that in validation error message you get something like `validatedParameters[0].name is empty`, not `parameters[0].name is empty`

[2016-04-20 08:22] achooley opened #324 "Gradle DSL method not found: 'compileOnly()'"
[project gradle](https://github.com/google/auto/files/227489/build.txt)
[module.gradlet](https://github.com/google/auto/files/227491/module.txt)

After added all dependencies i have this error:"Gradle DSL method not found: 'compileOnly()'"

[2016-04-20 08:28] tbroyer commented on #324
Which version of Gradle are you using? (`compileOnly` is _native_ in 2.12)
Is your `conpileOnly` line in the `dependencies` block?
Is this an Android project or simple `java` project? (Did you properly applied the `java` plugin?)

[2016-04-20 08:40] chuleiO commented on #324
Thx for quick response. This i default android project.
Yes, This is my block (take from AutoValue instruction)
Gradle v 2.12. And in Studio Setting i`am use local gradle distribution with path to gradle 2.12
![ss 2016-04-20 at 11 34 29](https://cloud.githubusercontent.com/assets/1076205/14668380/a98ccf7e-06ec-11e6-9d7c-3891a73380d3.png)
![ss 2016-04-20 at 11 38 38](https://cloud.githubusercontent

[2016-04-20 08:45] tbroyer commented on #324
You may need the `android-apt ` plugin instead of `net.ltgt.apt` plugin; and IIRC use `provided` instead of `compileOnly`.

[2016-04-20 08:54] chuleiO commented on #324
Thxs for help. You are right. After added ` classpath 'com.neenbedankt.gradle.plugins:android-apt:1.8'` and
`apply plugin: 'com.neenbedankt.android-apt'`  all compile correctly
But why previous version dont work. I done all the same to  https://github.com/google/auto/blob/master/value/userguide/index.md and https://plugins.gradle.org/plugin/net.ltgt.apt

[2016-04-20 10:18] tbroyer commented on #324
Android projects are really a special kind of Gradle projects, and the `net.ltgt.apt` has no support for them.

[2016-04-20 23:16] gg7 commented on #124
To anyone googling for "`error: cannot find symbol`", "`Note: Generating a Provider for`", "`Prefer to run the dagger processor over that class instead`": using fully qualified types solved the issue for me.

[2016-04-22 22:48] eamonnmcmanus commented on #278
In the second extract from the preceding comment, if you have a property of type `Optional<String>` we will give it a default value of `Optional.empty()`. The special `Optional<T>` wrapping to determine if properties have been set only makes sense for properties that don't have a default value, namely primitive properties or reference properties that are neither `@Nullable` nor `Optional`. Since i

[2016-04-26 19:12] adi1133 opened #325 "Why isn't AutoValue a separate project/repo ?"
AutoValue seems to have a huge following recently, it is growing at a different rate than the other Auto projects.

Keeping AutoValue in a shared repository clutters the GIT log, the issue tracker and the github releases section.

There are other projects that have much less code than this one and have a standalone repo: RxRelay, Timber and RxReplayingShare come to mind.

[2016-04-27 07:29] heutschibogdan commented on #277
@eamonnmcmanus any update on this? Is it planned to be implemented or not?

[2016-04-27 23:32] zstewar1 opened #326 "AutoFactory does not handle varargs parameters"
I'm trying to convert an existing type to be partially injected using autofactory, but our existing constructors and client code makes use of varargs to pass in differing numbers of arguments.

For example:
[code]

However the signature of the corresponding `create` method is: `MyClassFactory.create(RepeatedParameter[] rp)` which rather defeats the point.

It's possible to work around this by chan

[2016-04-28 00:58] eamonnmcmanus commented on #277
It's still on my list, and has moved nearer to the top after finishing a number of other tasks that had been languishing (coming soon to a PR near you). I don't know when I'll get to it, though.

FTR fixing it is not completely straightforward because of a longstanding bug in the Eclipse compiler. I was able to [work around](https://github.com/google/auto/blob/master/value/src/main/java/com/google

[2016-04-28 07:21] heutschibogdan commented on #277
@eamonnmcmanus sorry but I wasn't clear, I was asking about allowing a builder to extend another class. Do you know anything about this?

[2016-04-28 16:23] eamonnmcmanus commented on #277
A fix is in the works that should allow the example at the top of this issue to compile. Meanwhile, it is always possible to override the inherited methods in the final Builder subclass with their explicit types. So in the original example you could declare `Builder setFoo(Object foo)` etc.

Were you asking about something else?

[2016-04-28 21:35] gk5885 commented on #326
Yeah, that sounds totally reasonable.

[2016-04-28 21:37] gk5885 commented on #318
I don't follow the logic here.  Are you suggesting that `Provider.get()` is somehow more expensive than having just injected the value?  I agree that it can be slow, but it doesn't make sense to me that that cost would be any greater than the cost that you would have incurred before creating the object when you inject the value directly.

[2016-04-29 05:44] anuraaga commented on #318
Provider.get needs to first figure out what object to return before then returning it, and depending on the DI framework the performance of this will vary. In dagger, injection is all resolved at compile time so indeed this has almost no cost, but with something like Spring, it happens at runtime, using slow reflection (stuff like resolving qualifer annotations). A CPU profile of a server using au

[2016-04-29 05:58] heutschibogdan commented on #277
This is what I was asking, I know you can override, but in my case I have common base class for like 20-30 other classes and it has around 10 fields and this will add a big overhead, also it will create a big overhead for maintaining. Thank you for the answer. If it is possible, do you know an estimation when the fix would be finished?

[2016-04-29 17:17] gk5885 commented on #318
Yes, but the same holds true for any injection.  The fact that you're doing it with a `Provider` wrapper doesn't change the fact that all injections require dependency resolution.

Again, Spring must still do dependency resolution using reflection in order to inject either an instance or a `Provider`.

It sounds like Spring is doing that reflection on _every_ provision rather than once per provide

[2016-04-29 19:45] anuraaga commented on #318
I agree that spring could do better, but would also be ok if they said that ```Provider``` injection is such a minor use case that it's not a target of optimization - generally injecting a ```Supplier``` works without relying on magic semantics. Even the dagger docs, http://google.github.io/dagger/users-guide.html, heavily discourage them in favor of, hey factories :)

The autofactory is injected,

[2016-04-29 20:44] tbroyer commented on #318
You may be biased because IIRC Spring uses singleton scope by default, but using "prototype" scope (to use Spring terminology IIRC), which is the norm in other DI libs such as Guice and Dagger, then you really expect that calling your factory twice will produce classes with distinct dependencies, rather than shared ones.
And you can't assume that a factory will only be used once per instance; I'm

[2016-04-29 20:59] eamonnmcmanus commented on #277
I'd expect it to be in 1.3-SNAPSHOT within the next week.

[2016-04-29 21:10] anuraaga commented on #318
Spring is pretty new to me still, have written many more autofactories in the past that were injected with dagger.

Factories are part of the object graph and are providing dependencies from the object graph - a dependency will only be present in the graph once, so I'm not sure what you mean by having distinct dependencies. Even in dagger, where you may have many scopes that form layers in an obje

[2016-05-04 16:13] gabrielittner opened #327 "AutoValue: Inconsistent removal of consumed properties"
The removal for AutoValue itself compares the returned property names with the method name ([AutoValueProcessor.java#L391](https://github.com/google/auto/blob/master/value/src/main/java/com/google/auto/value/processor/AutoValueProcessor.java#L391)), while the removal for extensions ([AutoValueProcessor.java#L440](https://github.com/google/auto/blob/master/value/src/main/java/com/google/auto/value/

[2016-05-04 17:55] eamonnmcmanus commented on #327
I've rewritten this code substantially in the latest version, which hasn't been pushed to github yet. I believe it will behave correctly regardless of whether properties are prefixed or not. I'll ping this issue once that code is live so that you can confirm that the problem you are seeing has been fixed.

[2016-05-11 13:59] nlenoire opened #329 "AutoValue with Polymorphic Serialization issue"
Hi,

I'm using google AutoValue to implement POJOs I want to serialize using Jackson. Some of my POJOs are using polymorphism. For them, I'm using the JsonTypeInfo + JsonSubTypes annotation with a property as type info.

However, Jackson ignores the type name I set, and always use the class name as class indicator. I can workaround this issue by using @JsonTypeName on each of my sub-types, but I d

[2016-05-11 14:07] rharter commented on #329
This sounds like a Jackson issue, as it seems to deal with how their Annotation processes classes.

[2016-05-11 15:11] tbroyer commented on #329
How about using `AutoValue_ConcreteType1.class` in `@JsonSubTypes.Type` instead of `ConcreteType1.class`? (assuming all classes are in the same package; if that's not the case, it seems like you should be able to put another `@JsonSubTypes` on `ConcreteType1` pointing to `AutoValue_ConcreteType1`: "link" from `AbstractType` to `ConcreteType1` without `name`, then from `ConcreteType1` to `AutoValue

[2016-05-12 13:25] #329 closed

[2016-05-17 08:54] gabrielittner commented on #327
It's fixed in the latest snapshot 👍

[2016-05-17 08:54] #327 closed

[2016-05-17 14:08] eamonnmcmanus commented on #300
The latest snapshot supports having a getter of type `Optional<T>` in a builder, where the original property has type `T`. This is the proposal described [earlier](https://github.com/google/auto/issues/300#issuecomment-172992715). We're not currently planning to implement the idea of having concrete getters in builders as suggested by @facboy [above](https://github.com/google/auto/issues/300#issue

[2016-05-17 14:08] #300 closed

[2016-05-17 14:16] eamonnmcmanus commented on #292
I thought I had commented on this issue when it was filed but apparently not! There was a longstanding bug in the Eclipse compiler where it would sort members of a class or interface before presenting them to the annotation processing API. I'm pretty sure that is what you are seeing here. There's [code](https://github.com/google/auto/blob/master/value/src/main/java/com/google/auto/value/processor/

[2016-05-17 14:16] #292 closed

[2016-05-17 14:19] eamonnmcmanus commented on #286
This should be fixed in the latest snapshot.

[2016-05-17 14:19] #286 closed

[2016-05-17 14:20] eamonnmcmanus commented on #283
The patch in #293 has been incorporated into the latest snapshot.

[2016-05-17 14:20] #283 closed

[2016-05-17 14:23] eamonnmcmanus commented on #281
This is fixed in the latest snapshot.

[2016-05-17 14:23] #281 closed

[2016-05-17 14:26] eamonnmcmanus commented on #278
This is implemented in the latest snapshot.

[2016-05-17 14:26] #278 closed

[2016-05-17 14:36] eamonnmcmanus commented on #116
This issue was fixed last year but we neglected to close it.

[2016-05-17 14:36] #116 closed

[2016-05-17 18:20] JW-Vinay commented on #106
Is there some documentation to add autovalue 1.2 manually to an eclipse project. The link in the blog post above was useful but its pretty outdated and deals with the initial release of autovalue.

[2016-05-20 17:20] leventov commented on #267
Seems like this is a bug of  `MoreElements.getLocalAndInheritedMethods()`, isn't it?

[2016-05-20 21:02] eamonnmcmanus commented on #267
The bug was there, yes.

[2016-05-20 21:08] leventov commented on #267
Are there plans to fix it in `auto-common`?

[2016-05-20 21:32] eamonnmcmanus commented on #267
I'm not sure I understand. The bug should be fixed in auto-common. Do you have reason to think that it isn't?

[2016-05-20 21:44] leventov commented on #267
As far as I understand It is fixed in auto-value (by extra filtering of methods returned from `getLocalAndInheritedMethods()`), but not auto-common, because `getLocalAndInheritedMethods()` itself still returns dup methods

[2016-05-20 21:59] eamonnmcmanus commented on #267
Hmm, I was wrong to say that the bug was in `getLocalAndInheritedMethods()`. That method is doing what it's specified to do. It's not clear to me that we should change it to cover the case where a method with the same signature is inherited along multiple paths. Not only would that change a behaviour that callers may be depending on, it would mean some nontrivial logic to handle methods with gener